h1 {
  font-size: 1.08vh;
}

h2 {
  font-size: 5vh;
}

h3,
p.forecast-date {
  font-size: 2.5vh;
}

h4,
input,
select,
a.nav-button {
  font-size: 2vh;
}

h5 {
  font-size: 1.7vh;
}

a#more-info-button,
h6 {
  font-size: 1.4vh;
}

a {
  font-size: 2.4vh;
}

i.fas,
i.fad,
i.fa-solid,
i.fa-sharp,
i.fa-regular {
  font-size: 2.4vh;
}

p.location-foad,
p.location-name,
p.temp-high,
p.temp-low,
p.date-string,
div.weather-report p {
  font-size: 1.6vh;
}

p.wind-speed,
p.precipitation,
p.date-number {
  font-size: 1.5vh;
}

@media (max-width: 1175px) {
  body {
    background-color: #e8f5ff;
    overflow-y: auto;
  }
  div.content {
    max-height: 93vh;
    overflow-y: auto;
  }
  div#nav-bar {
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: auto;
    column-gap: 5px;
    row-gap: 5px;
    height: 7vh;
    position: relative;
  }
  div#nav-bar img#logo {
    height: 7vh;
    padding: 1vh 10px;
  }
  div#nav-bar nav#nav-menu {
    position: absolute;
    background-color: #e8f5ff;
    grid-column: 1/span 3;
    top: 7vh;
    width: 100vw;
    height: 93vh;
    z-index: 9999;
    flex-direction: column;
    position: absolute;
    background-image: url("../../../assets/menu-bg-3.png");
    background-position-y: calc(92vh - 200px);
    background-position-x: 2vw;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all 250ms ease-in-out;
  }
  div#nav-bar nav#nav-menu a {
    display: grid;
    grid-template-columns: 10% auto;
    grid-template-rows: auto;
    column-gap: 5px;
    row-gap: 5px;
    border: none;
    outline: none;
    border-radius: 30px;
    background-color: #e8f5ff;
    transition: all 160ms ease-in-out;
    text-decoration: none;
    color: #000000;
    grid-template-columns: 15% 85%;
    margin-bottom: 5px;
    margin-left: 25px;
    margin-right: 25px;
    padding: 10px 5px;
    transition: all 200ms ease-in-out;
    text-decoration: none;
    color: #000000;
  }
  div#nav-bar nav#nav-menu a i, div#nav-bar nav#nav-menu a span, div#nav-bar nav#nav-menu a h1, div#nav-bar nav#nav-menu a h2, div#nav-bar nav#nav-menu a h3, div#nav-bar nav#nav-menu a h4, div#nav-bar nav#nav-menu a h5, div#nav-bar nav#nav-menu a h6 {
    transition: all 160ms ease-in-out;
    color: #000000;
  }
  div#nav-bar nav#nav-menu a i {
    width: min-content;
    justify-self: center;
  }
  div#nav-bar nav#nav-menu a:hover {
    background-color: #5792ff;
  }
  div#nav-bar nav#nav-menu a:hover i, div#nav-bar nav#nav-menu a:hover span, div#nav-bar nav#nav-menu a:hover h1, div#nav-bar nav#nav-menu a:hover h2, div#nav-bar nav#nav-menu a:hover h3, div#nav-bar nav#nav-menu a:hover h4, div#nav-bar nav#nav-menu a:hover h5, div#nav-bar nav#nav-menu a:hover h6 {
    color: #ffffff;
  }
  div#nav-bar nav#nav-menu a:active {
    background-color: #01264d;
  }
  div#nav-bar nav#nav-menu a nth:first-child {
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
  }
  div#nav-bar nav#nav-menu a nth:last-child {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  div#nav-bar nav#nav-menu a i {
    align-self: center;
    justify-self: center;
    font-size: 2.4vh;
  }
  div#nav-bar nav#nav-menu a span {
    align-self: center;
  }
  div#nav-bar button#nav-expand {
    display: grid;
    grid-template-columns: 10% auto;
    grid-template-rows: auto;
    column-gap: 5px;
    row-gap: 5px;
    border: none;
    outline: none;
    border-radius: 30px;
    background-color: #e8f5ff;
    transition: all 160ms ease-in-out;
    text-decoration: none;
    color: #000000;
    grid-column: 3;
    grid-row: 1;
    grid-template-columns: auto;
    grid-template-rows: auto;
    margin: 10px;
  }
  div#nav-bar button#nav-expand i, div#nav-bar button#nav-expand span, div#nav-bar button#nav-expand h1, div#nav-bar button#nav-expand h2, div#nav-bar button#nav-expand h3, div#nav-bar button#nav-expand h4, div#nav-bar button#nav-expand h5, div#nav-bar button#nav-expand h6 {
    transition: all 160ms ease-in-out;
    color: #000000;
  }
  div#nav-bar button#nav-expand i {
    width: min-content;
    justify-self: center;
  }
  div#nav-bar button#nav-expand:hover {
    background-color: #5792ff;
  }
  div#nav-bar button#nav-expand:hover i, div#nav-bar button#nav-expand:hover span, div#nav-bar button#nav-expand:hover h1, div#nav-bar button#nav-expand:hover h2, div#nav-bar button#nav-expand:hover h3, div#nav-bar button#nav-expand:hover h4, div#nav-bar button#nav-expand:hover h5, div#nav-bar button#nav-expand:hover h6 {
    color: #ffffff;
  }
  div#nav-bar button#nav-expand:active {
    background-color: #01264d;
  }
  div#nav-bar button#nav-expand i {
    align-self: center;
    justify-self: center;
    font-size: 3vh;
  }
  div#nav-bar[data-expanded=collapsed] button#nav-expand i {
    transition: all 150ms ease-in-out;
    transform: rotate(0deg);
  }
  div#nav-bar[data-expanded=collapsed] nav#nav-menu {
    left: -100vw;
    visibility: hidden;
  }
  div#nav-bar[data-expanded=expanded] button#nav-expand i {
    transition: all 150ms ease-in-out;
    transform: rotate(180deg);
  }
  div#nav-bar[data-expanded=expanded] nav#nav-menu {
    visibility: visible;
    left: 0;
  }
  div.content#index section#search-bar {
    padding: 2vh 0;
  }
  div.content#index section#search-bar div.container {
    height: auto;
    position: relative;
  }
  div.content#index section#search-bar div.text-input {
    display: grid;
    grid-template-columns: 12% auto 12% 15%;
    grid-template-rows: auto;
    column-gap: 5px;
    row-gap: 5px;
    column-gap: 0;
    border-radius: 6px;
    background-color: #fcfeff;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.13);
  }
  div.content#index section#search-bar div.text-input input#search-query {
    border: none;
    outline: none;
    padding: 1.3vh 2vh;
    border-radius: 6px;
  }
  div.content#index section#search-bar div.text-input button#search {
    display: grid;
    grid-template-columns: 10% auto;
    grid-template-rows: auto;
    column-gap: 5px;
    row-gap: 5px;
    border: none;
    outline: none;
    border-radius: 30px;
    background-color: #e8f5ff;
    transition: all 160ms ease-in-out;
    text-decoration: none;
    color: #000000;
    background-color: #d0dfeb;
    grid-template-columns: auto;
    grid-template-rows: auto;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  div.content#index section#search-bar div.text-input button#search i, div.content#index section#search-bar div.text-input button#search span, div.content#index section#search-bar div.text-input button#search h1, div.content#index section#search-bar div.text-input button#search h2, div.content#index section#search-bar div.text-input button#search h3, div.content#index section#search-bar div.text-input button#search h4, div.content#index section#search-bar div.text-input button#search h5, div.content#index section#search-bar div.text-input button#search h6 {
    transition: all 160ms ease-in-out;
    color: #000000;
  }
  div.content#index section#search-bar div.text-input button#search i {
    width: min-content;
    justify-self: center;
  }
  div.content#index section#search-bar div.text-input button#search:hover {
    background-color: #5792ff;
  }
  div.content#index section#search-bar div.text-input button#search:hover i, div.content#index section#search-bar div.text-input button#search:hover span, div.content#index section#search-bar div.text-input button#search:hover h1, div.content#index section#search-bar div.text-input button#search:hover h2, div.content#index section#search-bar div.text-input button#search:hover h3, div.content#index section#search-bar div.text-input button#search:hover h4, div.content#index section#search-bar div.text-input button#search:hover h5, div.content#index section#search-bar div.text-input button#search:hover h6 {
    color: #ffffff;
  }
  div.content#index section#search-bar div.text-input button#search:active {
    background-color: #01264d;
  }
  div.content#index section#search-bar div.text-input button#search i {
    align-self: center;
    justify-self: center;
  }
  div.content#index section#search-bar div.text-input button#add {
    display: grid;
    grid-template-columns: 10% auto;
    grid-template-rows: auto;
    column-gap: 5px;
    row-gap: 5px;
    border: none;
    outline: none;
    border-radius: 30px;
    background-color: #e8f5ff;
    transition: all 160ms ease-in-out;
    text-decoration: none;
    color: #000000;
    background-color: #d0dfeb;
    grid-template-columns: auto;
    grid-template-rows: auto;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }
  div.content#index section#search-bar div.text-input button#add i, div.content#index section#search-bar div.text-input button#add span, div.content#index section#search-bar div.text-input button#add h1, div.content#index section#search-bar div.text-input button#add h2, div.content#index section#search-bar div.text-input button#add h3, div.content#index section#search-bar div.text-input button#add h4, div.content#index section#search-bar div.text-input button#add h5, div.content#index section#search-bar div.text-input button#add h6 {
    transition: all 160ms ease-in-out;
    color: #000000;
  }
  div.content#index section#search-bar div.text-input button#add i {
    width: min-content;
    justify-self: center;
  }
  div.content#index section#search-bar div.text-input button#add:hover {
    background-color: #5792ff;
  }
  div.content#index section#search-bar div.text-input button#add:hover i, div.content#index section#search-bar div.text-input button#add:hover span, div.content#index section#search-bar div.text-input button#add:hover h1, div.content#index section#search-bar div.text-input button#add:hover h2, div.content#index section#search-bar div.text-input button#add:hover h3, div.content#index section#search-bar div.text-input button#add:hover h4, div.content#index section#search-bar div.text-input button#add:hover h5, div.content#index section#search-bar div.text-input button#add:hover h6 {
    color: #ffffff;
  }
  div.content#index section#search-bar div.text-input button#add:active {
    background-color: #01264d;
  }
  div.content#index section#search-bar div.text-input button#add i {
    align-self: center;
    justify-self: center;
  }
  div.content#index section#search-bar div.text-input button#select {
    display: grid;
    grid-template-columns: 10% auto;
    grid-template-rows: auto;
    column-gap: 5px;
    row-gap: 5px;
    border: none;
    outline: none;
    border-radius: 30px;
    background-color: #e8f5ff;
    transition: all 160ms ease-in-out;
    text-decoration: none;
    color: #000000;
    background-color: #d0dfeb;
    grid-template-columns: auto;
    grid-template-rows: auto;
    margin: 0;
    border-radius: 0;
  }
  div.content#index section#search-bar div.text-input button#select i, div.content#index section#search-bar div.text-input button#select span, div.content#index section#search-bar div.text-input button#select h1, div.content#index section#search-bar div.text-input button#select h2, div.content#index section#search-bar div.text-input button#select h3, div.content#index section#search-bar div.text-input button#select h4, div.content#index section#search-bar div.text-input button#select h5, div.content#index section#search-bar div.text-input button#select h6 {
    transition: all 160ms ease-in-out;
    color: #000000;
  }
  div.content#index section#search-bar div.text-input button#select i {
    width: min-content;
    justify-self: center;
  }
  div.content#index section#search-bar div.text-input button#select:hover {
    background-color: #5792ff;
  }
  div.content#index section#search-bar div.text-input button#select:hover i, div.content#index section#search-bar div.text-input button#select:hover span, div.content#index section#search-bar div.text-input button#select:hover h1, div.content#index section#search-bar div.text-input button#select:hover h2, div.content#index section#search-bar div.text-input button#select:hover h3, div.content#index section#search-bar div.text-input button#select:hover h4, div.content#index section#search-bar div.text-input button#select:hover h5, div.content#index section#search-bar div.text-input button#select:hover h6 {
    color: #ffffff;
  }
  div.content#index section#search-bar div.text-input button#select:active {
    background-color: #01264d;
  }
  div.content#index section#search-bar div.text-input button#select i {
    align-self: center;
    justify-self: center;
  }
  div.content#index section#search-bar div#locations-list,
  div.content#index section#search-bar div#saved-locations-list {
    background-color: #d0dfeb;
    position: absolute;
    max-height: 350px;
    overflow-y: auto;
    width: 85%;
    margin-top: 10px;
    border-radius: 6px;
    justify-items: stretch;
    grid-template-columns: auto;
    row-gap: 5px;
    padding: 5px 5px;
    z-index: 9998;
    box-shadow: 0 18px 20px rgba(0, 0, 0, 0.25);
    transition: all 150ms ease-in-out;
  }
  div.content#index section#search-bar div#locations-list[data-visible=visible],
  div.content#index section#search-bar div#saved-locations-list[data-visible=visible] {
    display: grid;
  }
  div.content#index section#search-bar div#locations-list[data-visible=collapsed],
  div.content#index section#search-bar div#saved-locations-list[data-visible=collapsed] {
    display: none;
  }
  div.content#index section#search-bar div#locations-list button,
  div.content#index section#search-bar div#saved-locations-list button {
    display: grid;
    grid-template-columns: 10% auto;
    grid-template-rows: auto;
    column-gap: 5px;
    row-gap: 5px;
    border: none;
    outline: none;
    border-radius: 30px;
    background-color: #e8f5ff;
    transition: all 160ms ease-in-out;
    text-decoration: none;
    color: #000000;
    grid-template-columns: auto 45px;
    border-radius: 6px;
    padding: 5px;
  }
  div.content#index section#search-bar div#locations-list button i, div.content#index section#search-bar div#locations-list button span, div.content#index section#search-bar div#locations-list button h1, div.content#index section#search-bar div#locations-list button h2, div.content#index section#search-bar div#locations-list button h3, div.content#index section#search-bar div#locations-list button h4, div.content#index section#search-bar div#locations-list button h5, div.content#index section#search-bar div#locations-list button h6,
  div.content#index section#search-bar div#saved-locations-list button i,
  div.content#index section#search-bar div#saved-locations-list button span,
  div.content#index section#search-bar div#saved-locations-list button h1,
  div.content#index section#search-bar div#saved-locations-list button h2,
  div.content#index section#search-bar div#saved-locations-list button h3,
  div.content#index section#search-bar div#saved-locations-list button h4,
  div.content#index section#search-bar div#saved-locations-list button h5,
  div.content#index section#search-bar div#saved-locations-list button h6 {
    transition: all 160ms ease-in-out;
    color: #000000;
  }
  div.content#index section#search-bar div#locations-list button i,
  div.content#index section#search-bar div#saved-locations-list button i {
    width: min-content;
    justify-self: center;
  }
  div.content#index section#search-bar div#locations-list button:hover,
  div.content#index section#search-bar div#saved-locations-list button:hover {
    background-color: #5792ff;
  }
  div.content#index section#search-bar div#locations-list button:hover i, div.content#index section#search-bar div#locations-list button:hover span, div.content#index section#search-bar div#locations-list button:hover h1, div.content#index section#search-bar div#locations-list button:hover h2, div.content#index section#search-bar div#locations-list button:hover h3, div.content#index section#search-bar div#locations-list button:hover h4, div.content#index section#search-bar div#locations-list button:hover h5, div.content#index section#search-bar div#locations-list button:hover h6,
  div.content#index section#search-bar div#saved-locations-list button:hover i,
  div.content#index section#search-bar div#saved-locations-list button:hover span,
  div.content#index section#search-bar div#saved-locations-list button:hover h1,
  div.content#index section#search-bar div#saved-locations-list button:hover h2,
  div.content#index section#search-bar div#saved-locations-list button:hover h3,
  div.content#index section#search-bar div#saved-locations-list button:hover h4,
  div.content#index section#search-bar div#saved-locations-list button:hover h5,
  div.content#index section#search-bar div#saved-locations-list button:hover h6 {
    color: #ffffff;
  }
  div.content#index section#search-bar div#locations-list button:active,
  div.content#index section#search-bar div#saved-locations-list button:active {
    background-color: #01264d;
  }
  div.content#index section#search-bar div#locations-list button:hover,
  div.content#index section#search-bar div#saved-locations-list button:hover {
    color: white;
  }
  div.content#index section#search-bar div#locations-list button:hover h4.location-foad,
  div.content#index section#search-bar div#saved-locations-list button:hover h4.location-foad {
    color: white;
  }
  div.content#index section#search-bar div#locations-list button p.location-name,
  div.content#index section#search-bar div#locations-list button p.location-foad,
  div.content#index section#search-bar div#saved-locations-list button p.location-name,
  div.content#index section#search-bar div#saved-locations-list button p.location-foad {
    margin: 0;
    align-self: center;
  }
  div.content#index section#search-bar div#locations-list button p.location-name,
  div.content#index section#search-bar div#saved-locations-list button p.location-name {
    justify-self: flex-start;
  }
  div.content#index section#search-bar div#locations-list button p.location-foad,
  div.content#index section#search-bar div#saved-locations-list button p.location-foad {
    color: #a0a0a0;
    justify-self: center;
    margin: 0;
  }
  div.content#index section#observations {
    padding: 1vh 0;
  }
  div.content#index section#observations div.container#current-observations {
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-rows: auto;
    column-gap: 5px;
    row-gap: 5px;
    column-gap: 0;
    height: min-content;
  }
  div.content#index section#observations img#icon {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    width: 100%;
    height: 10vh;
    object-fit: contain;
    background-color: #fcfeff;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.13);
  }
  div.content#index section#observations div#observations-widget {
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: auto;
    column-gap: 5px;
    row-gap: 5px;
    align-items: center;
    padding: 0.5vh 15px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background: linear-gradient(65deg, #e8f5ff, #5792ff);
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.13);
  }
  div.content#index section#observations div#observations-widget h2#temperature {
    grid-column: 1;
    margin: 0;
  }
  div.content#index section#observations div#observations-widget div#col-precip {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 60% 40%;
    grid-column: 2;
    align-items: center;
    row-gap: 10px;
    column-gap: 5px;
    margin: auto 0;
  }
  div.content#index section#observations div#observations-widget div#col-precip i {
    width: fit-content;
    margin-bottom: 10px;
    grid-row: 1;
    justify-self: center;
    align-self: center;
    font-size: 2.4vh;
    margin: 0;
    width: 0;
  }
  div.content#index section#observations div#observations-widget div#col-precip h4 {
    margin: 0;
    font-size: 2.2vh;
    grid-row: 2;
    justify-self: center;
    align-self: center;
  }
  div.content#index section#observations div#observations-widget div#col-wind {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: 60% 40%;
    row-gap: 10px;
    column-gap: 5px;
    align-items: center;
    grid-column: 3;
  }
  div.content#index section#observations div#observations-widget div#col-wind i.fa-wind {
    grid-column: 1/span 2;
    justify-self: center;
  }
  div.content#index section#observations div#observations-widget div#col-wind i.fa-arrow-down {
    grid-column: 1;
    width: fit-content;
    margin-bottom: 10px;
    font-size: 1.7vh;
    align-self: center;
    justify-self: center;
    width: 0;
  }
  div.content#index section#observations div#observations-widget div#col-wind h4 {
    grid-column: 2;
    margin: 0;
    font-size: 2.2vh;
    align-self: center;
  }
  div.content#index section#more-info div.container {
    height: auto;
  }
  div.content#index section#more-info div#more-information {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: min-content;
    column-gap: 5px;
    row-gap: 5px;
    border-radius: 6px;
    align-items: center;
    column-gap: 0;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.13);
  }
  div.content#index section#more-info p {
    margin: 0;
    justify-self: flex-end;
  }
  div.content#index section#more-info p#warning-code,
  div.content#index section#more-info p#forecast-text {
    font-size: 1.6vh;
    font-weight: 500;
  }
  div.content#index section#more-info p#warning-description {
    font-size: 1.5vh;
    font-weight: 300;
  }
  div.content#index section#more-info i.fa-square-arrow-up-right {
    justify-self: center;
  }
  div.content#index section#more-info i.fa-warning {
    justify-self: center;
  }
  div.content#index section#more-info a#more-info-button,
  div.content#index section#more-info a#warnings-button {
    display: grid;
    grid-template-columns: 10% auto;
    grid-template-rows: auto;
    column-gap: 5px;
    row-gap: 5px;
    border: none;
    outline: none;
    border-radius: 30px;
    background-color: #e8f5ff;
    transition: all 160ms ease-in-out;
    text-decoration: none;
    color: #000000;
    display: grid;
    grid-template-columns: auto 20%;
    grid-template-rows: auto;
    column-gap: 5px;
    row-gap: 5px;
    background-color: #d0dfeb;
    align-items: center;
    justify-self: center;
    width: 100%;
    border-radius: 0;
    column-gap: 10px;
    height: -webkit-fill-available;
    padding: 1.5vh 10px;
  }
  div.content#index section#more-info a#more-info-button i, div.content#index section#more-info a#more-info-button span, div.content#index section#more-info a#more-info-button h1, div.content#index section#more-info a#more-info-button h2, div.content#index section#more-info a#more-info-button h3, div.content#index section#more-info a#more-info-button h4, div.content#index section#more-info a#more-info-button h5, div.content#index section#more-info a#more-info-button h6,
  div.content#index section#more-info a#warnings-button i,
  div.content#index section#more-info a#warnings-button span,
  div.content#index section#more-info a#warnings-button h1,
  div.content#index section#more-info a#warnings-button h2,
  div.content#index section#more-info a#warnings-button h3,
  div.content#index section#more-info a#warnings-button h4,
  div.content#index section#more-info a#warnings-button h5,
  div.content#index section#more-info a#warnings-button h6 {
    transition: all 160ms ease-in-out;
    color: #000000;
  }
  div.content#index section#more-info a#more-info-button i,
  div.content#index section#more-info a#warnings-button i {
    width: min-content;
    justify-self: center;
  }
  div.content#index section#more-info a#more-info-button:hover,
  div.content#index section#more-info a#warnings-button:hover {
    background-color: #5792ff;
  }
  div.content#index section#more-info a#more-info-button:hover i, div.content#index section#more-info a#more-info-button:hover span, div.content#index section#more-info a#more-info-button:hover h1, div.content#index section#more-info a#more-info-button:hover h2, div.content#index section#more-info a#more-info-button:hover h3, div.content#index section#more-info a#more-info-button:hover h4, div.content#index section#more-info a#more-info-button:hover h5, div.content#index section#more-info a#more-info-button:hover h6,
  div.content#index section#more-info a#warnings-button:hover i,
  div.content#index section#more-info a#warnings-button:hover span,
  div.content#index section#more-info a#warnings-button:hover h1,
  div.content#index section#more-info a#warnings-button:hover h2,
  div.content#index section#more-info a#warnings-button:hover h3,
  div.content#index section#more-info a#warnings-button:hover h4,
  div.content#index section#more-info a#warnings-button:hover h5,
  div.content#index section#more-info a#warnings-button:hover h6 {
    color: #ffffff;
  }
  div.content#index section#more-info a#more-info-button:active,
  div.content#index section#more-info a#warnings-button:active {
    background-color: #01264d;
  }
  div.content#index section#more-info a#more-info-button span,
  div.content#index section#more-info a#warnings-button span {
    text-align: end;
    width: 100%;
  }
  div.content#index section#more-info a#more-info-button:hover p, div.content#index section#more-info a#more-info-button:active p,
  div.content#index section#more-info a#warnings-button:hover p,
  div.content#index section#more-info a#warnings-button:active p {
    color: #ffffff;
  }
  div.content#index section#more-info a#more-info-button {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  div.content#index section#more-info a#warnings-button {
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-rows: auto;
    column-gap: 5px;
    row-gap: 5px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }
  div.content#index section#smaller-radar {
    margin: 2vh 0;
  }
  div.content#index section#smaller-radar div.container {
    height: auto;
  }
  div.content#index section#smaller-radar select {
    border: none;
    outline: none;
    background-color: #fcfeff;
    border-radius: 4px;
    padding: 5px 5px;
    text-align: center;
  }
  div.content#index section#smaller-radar i.fa-solid {
    font-size: 1.8vh;
  }
  div.content#index section#smaller-radar i.fa-clock,
  div.content#index section#smaller-radar i.fa-forward-fast {
    justify-self: flex-end;
    margin-right: 10px;
  }
  div.content#index section#smaller-radar input[type=range] {
    width: auto;
    min-width: 40px;
  }
  div.content#index section#smaller-radar img#radar-image {
    width: 100%;
    object-fit: contain;
  }
  div.content#index section#smaller-radar img#radar-image[data-type=radarmap] {
    background: url("https://image-lite.buienradar.nl/3.0/background/MapWebmercatorNL?size=Full");
    background-repeat: no-repeat;
    background-size: contain;
  }
  div.content#index section#smaller-radar img#radar-image[data-type=weathermap] {
    background: none;
    background-color: #d0dfeb;
  }
  div.content#index section#smaller-radar div.col#radar-config {
    display: grid;
    grid-template-columns: auto 15% 100px;
    grid-template-rows: auto;
    column-gap: 5px;
    row-gap: 5px;
    column-gap: 0;
    align-items: center;
    padding: 5px;
    background-color: #d0dfeb;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
  div.content#index section#smaller-radar div.col#radar-config select#radar-time {
    grid-column: 3;
  }
  div.content#index section#smaller-radar div.col#radar-controls {
    display: grid;
    grid-template-columns: 15% 15% auto 12% 100px;
    grid-template-rows: auto;
    column-gap: 5px;
    row-gap: 5px;
    column-gap: 0;
    align-items: center;
    background-color: #d0dfeb;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.13);
  }
  div.content#index section#smaller-radar div.col#radar-controls button#radar-playpause {
    display: grid;
    grid-template-columns: 10% auto;
    grid-template-rows: auto;
    column-gap: 5px;
    row-gap: 5px;
    border: none;
    outline: none;
    border-radius: 30px;
    background-color: #e8f5ff;
    transition: all 160ms ease-in-out;
    text-decoration: none;
    color: #000000;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    column-gap: 5px;
    row-gap: 5px;
    border-radius: 6px;
    align-self: stretch;
    align-items: center;
    justify-items: center;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  div.content#index section#smaller-radar div.col#radar-controls button#radar-playpause i, div.content#index section#smaller-radar div.col#radar-controls button#radar-playpause span, div.content#index section#smaller-radar div.col#radar-controls button#radar-playpause h1, div.content#index section#smaller-radar div.col#radar-controls button#radar-playpause h2, div.content#index section#smaller-radar div.col#radar-controls button#radar-playpause h3, div.content#index section#smaller-radar div.col#radar-controls button#radar-playpause h4, div.content#index section#smaller-radar div.col#radar-controls button#radar-playpause h5, div.content#index section#smaller-radar div.col#radar-controls button#radar-playpause h6 {
    transition: all 160ms ease-in-out;
    color: #000000;
  }
  div.content#index section#smaller-radar div.col#radar-controls button#radar-playpause i {
    width: min-content;
    justify-self: center;
  }
  div.content#index section#smaller-radar div.col#radar-controls button#radar-playpause:hover {
    background-color: #5792ff;
  }
  div.content#index section#smaller-radar div.col#radar-controls button#radar-playpause:hover i, div.content#index section#smaller-radar div.col#radar-controls button#radar-playpause:hover span, div.content#index section#smaller-radar div.col#radar-controls button#radar-playpause:hover h1, div.content#index section#smaller-radar div.col#radar-controls button#radar-playpause:hover h2, div.content#index section#smaller-radar div.col#radar-controls button#radar-playpause:hover h3, div.content#index section#smaller-radar div.col#radar-controls button#radar-playpause:hover h4, div.content#index section#smaller-radar div.col#radar-controls button#radar-playpause:hover h5, div.content#index section#smaller-radar div.col#radar-controls button#radar-playpause:hover h6 {
    color: #ffffff;
  }
  div.content#index section#smaller-radar div.col#radar-controls button#radar-playpause:active {
    background-color: #01264d;
  }
  div.content#index section#smaller-radar div.col#radar-controls select {
    margin: 5px;
  }
  div.content#index section#smaller-radar div.col#radar-controls h5#radar-time {
    justify-self: center;
    margin: 0;
  }
  div.groupbox {
    margin-bottom: 10px;
  }
  div.groupbox div.groupbox-bar {
    display: grid;
    grid-template-columns: auto 10%;
    grid-template-rows: auto;
    column-gap: 5px;
    row-gap: 5px;
    background-color: #d0dfeb;
    align-items: center;
    border-radius: 6px;
    padding: 0.6vh 1.2vh;
    margin-bottom: 5px;
  }
  div.groupbox div.groupbox-bar h4 {
    margin: 0;
  }
  div.groupbox div.groupbox-bar button {
    display: grid;
    grid-template-columns: 10% auto;
    grid-template-rows: auto;
    column-gap: 5px;
    row-gap: 5px;
    border: none;
    outline: none;
    border-radius: 30px;
    background-color: #e8f5ff;
    transition: all 160ms ease-in-out;
    text-decoration: none;
    color: #000000;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    padding: 5px 5px;
    border-radius: 6px;
  }
  div.groupbox div.groupbox-bar button i, div.groupbox div.groupbox-bar button span, div.groupbox div.groupbox-bar button h1, div.groupbox div.groupbox-bar button h2, div.groupbox div.groupbox-bar button h3, div.groupbox div.groupbox-bar button h4, div.groupbox div.groupbox-bar button h5, div.groupbox div.groupbox-bar button h6 {
    transition: all 160ms ease-in-out;
    color: #000000;
  }
  div.groupbox div.groupbox-bar button i {
    width: min-content;
    justify-self: center;
  }
  div.groupbox div.groupbox-bar button:hover {
    background-color: #5792ff;
  }
  div.groupbox div.groupbox-bar button:hover i, div.groupbox div.groupbox-bar button:hover span, div.groupbox div.groupbox-bar button:hover h1, div.groupbox div.groupbox-bar button:hover h2, div.groupbox div.groupbox-bar button:hover h3, div.groupbox div.groupbox-bar button:hover h4, div.groupbox div.groupbox-bar button:hover h5, div.groupbox div.groupbox-bar button:hover h6 {
    color: #ffffff;
  }
  div.groupbox div.groupbox-bar button:active {
    background-color: #01264d;
  }
  div.groupbox div.groupbox-bar button i {
    margin: 0;
    height: min-content;
    width: min-content;
    transition: all 150ms ease-in-out;
  }
  div.groupbox div.groupbox-bar button[data-flipped=flipped] i {
    transform: rotate(180deg);
  }
  div.groupbox div.groupbox-bar button[data-flipped=normal] i {
    transform: rotate(0deg);
  }
  div.groupbox div.groupbox-content {
    position: relative;
    background-color: #ffffff;
    border: 2px #5792ff solid;
    border-radius: 6px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    transition: 150ms all ease-in-out;
  }
  div.groupbox div.groupbox-content[data-visible=visible] {
    height: fit-content;
    transition: all 250ms;
  }
  div.groupbox div.groupbox-content[data-visible=collapsed] {
    height: 0;
    padding: 0 10px;
    visibility: hidden;
    transition: all 250ms;
  }
  div.groupbox div.groupbox-content[data-visible=collapsed] * {
    display: none !important;
  }
  div.col.content-scroller {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 3.8vh auto 3.8vh;
    column-gap: 5px;
    row-gap: 5px;
    position: absolute;
    width: 100px;
    height: 70vh;
    align-self: center;
  }
  div.col.content-scroller button {
    display: grid;
    grid-template-columns: 10% auto;
    grid-template-rows: auto;
    column-gap: 5px;
    row-gap: 5px;
    border: none;
    outline: none;
    border-radius: 30px;
    background-color: #e8f5ff;
    transition: all 160ms ease-in-out;
    text-decoration: none;
    color: #000000;
    grid-template-columns: auto;
    grid-template-rows: auto;
    border-radius: 6px;
    padding: 0.8vh;
    border: #5792ff 2px solid;
  }
  div.col.content-scroller button i, div.col.content-scroller button span, div.col.content-scroller button h1, div.col.content-scroller button h2, div.col.content-scroller button h3, div.col.content-scroller button h4, div.col.content-scroller button h5, div.col.content-scroller button h6 {
    transition: all 160ms ease-in-out;
    color: #000000;
  }
  div.col.content-scroller button i {
    width: min-content;
    justify-self: center;
  }
  div.col.content-scroller button:hover {
    background-color: #5792ff;
  }
  div.col.content-scroller button:hover i, div.col.content-scroller button:hover span, div.col.content-scroller button:hover h1, div.col.content-scroller button:hover h2, div.col.content-scroller button:hover h3, div.col.content-scroller button:hover h4, div.col.content-scroller button:hover h5, div.col.content-scroller button:hover h6 {
    color: #ffffff;
  }
  div.col.content-scroller button:active {
    background-color: #01264d;
  }
  div.col.content-scroller button:active {
    border: none;
  }
  div.col.content-scroller button i {
    margin: 0;
    align-self: center;
  }
  div.col.content-scroller button.scroll-down {
    grid-row: 3;
  }
  div.content#forecasts section#daily-forecast div.col#forecast-days {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    column-gap: 5px;
    row-gap: 5px;
    border-radius: 6px;
    row-gap: 20px;
    width: 100%;
    overflow: hidden;
    max-height: 70vh;
    padding: 5vh 0;
  }
  div.content#forecasts section#daily-forecast div.forecast-data {
    display: grid;
    grid-template-columns: 25% auto;
    grid-template-rows: repeat(2, 50%);
    column-gap: 5px;
    row-gap: 5px;
    width: 100%;
    height: auto;
    margin: auto 0;
    align-content: center;
    align-items: center;
    column-gap: 8px;
  }
  div.content#forecasts section#daily-forecast div.forecast-data p {
    margin: 0;
    font-weight: 500;
  }
  div.content#forecasts section#daily-forecast div.forecast-data i {
    justify-self: center;
    font-size: 1.7vh;
  }
  div.content#forecasts section#daily-forecast div.forecast-data#forecast-astronomy {
    grid-column: 2;
    grid-row: 2;
  }
  div.content#forecasts section#daily-forecast div.forecast-data#forecast-astronomy p {
    font-size: 1.6vh;
  }
  div.content#forecasts section#daily-forecast div.forecast-data#forecast-temperature {
    grid-column: 1;
    grid-row: 2;
  }
  div.content#forecasts section#daily-forecast div.forecast-data#forecast-temperature p {
    font-size: 1.6vh;
  }
  div.content#forecasts section#daily-forecast div.forecast-data#forecast-atmosphere {
    grid-column: 3;
    grid-row: 2;
    grid-template-columns: auto 6% auto;
  }
  div.content#forecasts section#daily-forecast div.forecast-data#forecast-atmosphere p {
    font-size: 1.6vh;
  }
  div.content#forecasts section#daily-forecast div.forecast-data#forecast-atmosphere p.precipitation {
    grid-column: 2/span 2;
  }
  div.content#forecasts section#daily-forecast div.forecast-data#forecast-atmosphere i.fa-droplet {
    grid-column: 1;
    grid-row: 2;
  }
  div.content#forecasts section#daily-forecast div.forecast-data#forecast-atmosphere i.fa-arrow-down {
    font-size: 1.4vh;
  }
  div.content#forecasts section#daily-forecast div.forecast-data#forecast-date {
    grid-column: 1/span 3;
    grid-row: 1;
    grid-template-columns: repeat(3, 31.6666666667%);
    grid-template-rows: auto;
  }
  div.content#forecasts section#daily-forecast div.forecast-data#forecast-date p {
    margin: 0;
  }
  div.content#forecasts section#daily-forecast div.forecast-data#forecast-date p.date-string {
    font-weight: 500;
    margin: 0;
    font-size: 2.8vh;
    justify-self: flex-start;
  }
  div.content#forecasts section#daily-forecast div.forecast-data#forecast-date p.date-number {
    font-weight: 400;
    font-size: 2.2vh;
    text-decoration: underline;
    justify-self: flex-start;
    grid-column: 3;
  }
  div.content#forecasts section#daily-forecast div.forecast-day {
    display: flex;
    flex-direction: row;
    border-radius: 6px;
    background-color: #d0dfeb;
    background: linear-gradient(65deg, #e8f5ff, #5792ff);
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.13);
    column-gap: 5px;
    height: auto;
  }
  div.content#forecasts section#daily-forecast img.forecast-icon {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    width: 8vh;
    height: 100%;
    object-fit: contain;
    background-color: #fcfeff;
    object-fit: contain;
  }
  div.content#forecasts section#daily-forecast div.info-container {
    display: grid;
    grid-template-columns: repeat(3, 31.6666666667%);
    grid-template-rows: repeat(2, auto);
    column-gap: 5px;
    row-gap: 5px;
    justify-items: flex-start;
    align-items: center;
    width: 100%;
    margin: 10px;
    column-gap: 5px;
    row-gap: 15px;
  }
  div.content#forecasts section#daily-forecast div.forecast-date {
    align-self: flex-start;
  }
  div.content#forecasts section#daily-forecast div.weather-report {
    overflow: hidden;
    max-height: 70vh;
    padding: 5vh 0;
  }
  div.content#forecasts section#daily-forecast div#forecast-charts {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    row-gap: 10px;
  }
  div.content#forecasts section#daily-forecast div#forecast-charts div#chart-controls {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 50px 50px auto;
    column-gap: 10px;
  }
  div.content#forecasts section#daily-forecast div#forecast-charts button {
    display: grid;
    grid-template-columns: 10% auto;
    grid-template-rows: auto;
    column-gap: 5px;
    row-gap: 5px;
    border: none;
    outline: none;
    border-radius: 30px;
    background-color: #e8f5ff;
    transition: all 160ms ease-in-out;
    text-decoration: none;
    color: #000000;
    grid-template-columns: auto;
    grid-template-rows: auto;
    border: 2px #01264d solid;
    border-radius: 6px;
    align-items: center;
    padding: 1.1vh 1.2vh;
  }
  div.content#forecasts section#daily-forecast div#forecast-charts button i, div.content#forecasts section#daily-forecast div#forecast-charts button span, div.content#forecasts section#daily-forecast div#forecast-charts button h1, div.content#forecasts section#daily-forecast div#forecast-charts button h2, div.content#forecasts section#daily-forecast div#forecast-charts button h3, div.content#forecasts section#daily-forecast div#forecast-charts button h4, div.content#forecasts section#daily-forecast div#forecast-charts button h5, div.content#forecasts section#daily-forecast div#forecast-charts button h6 {
    transition: all 160ms ease-in-out;
    color: #000000;
  }
  div.content#forecasts section#daily-forecast div#forecast-charts button i {
    width: min-content;
    justify-self: center;
  }
  div.content#forecasts section#daily-forecast div#forecast-charts button:hover {
    background-color: #5792ff;
  }
  div.content#forecasts section#daily-forecast div#forecast-charts button:hover i, div.content#forecasts section#daily-forecast div#forecast-charts button:hover span, div.content#forecasts section#daily-forecast div#forecast-charts button:hover h1, div.content#forecasts section#daily-forecast div#forecast-charts button:hover h2, div.content#forecasts section#daily-forecast div#forecast-charts button:hover h3, div.content#forecasts section#daily-forecast div#forecast-charts button:hover h4, div.content#forecasts section#daily-forecast div#forecast-charts button:hover h5, div.content#forecasts section#daily-forecast div#forecast-charts button:hover h6 {
    color: #ffffff;
  }
  div.content#forecasts section#daily-forecast div#forecast-charts button:active {
    background-color: #01264d;
  }
  div.content#forecasts section#daily-forecast div#forecast-charts select#chart-type {
    border: none;
    outline: none;
    background-color: #fcfeff;
    border: 2px #01264d solid;
    border-radius: 4px;
    padding: 5px 5px;
    width: 100%;
  }
  div.content#forecasts section#daily-forecast div#forecast-charts img#chart-image {
    width: 100%;
  }
  div.content#forecasts section#daily-forecast div#forecast-charts input[type=range] {
    width: 100%;
  }
}
/* cyrillic */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* khmer */
@font-face {
  font-family: "Fasthand";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../css/fonts/0yb9GDohyKTYn_ZEERkpaE0Urhg0.woff2) format("woff2");
  unicode-range: U+1780-17FF, U+19E0-19FF, U+200C, U+25CC;
}
/* latin */
@font-face {
  font-family: "Fasthand";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../css/fonts/0yb9GDohyKTYn_ZEERkpaE0Urhg0.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
* {
  font-family: "Jost", sans-serif;
}

/*# sourceMappingURL=main.css.map */
