h1 {
  font-size: 2.2vh;
}

h2 {
  font-size: 2vh;
}

h3 {
  font-size: 1.8vh;
}

h4 {
  font-size: 1.6vh;
}

h5 {
  font-size: 1.4vh;
}

h6 {
  font-size: 1.2vh;
}

/* cyrillic */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
a, button {
  border: none;
  outline: none;
  padding: 5px 10px;
  transition: 250ms all;
  border-radius: 4px;
  background-color: #ebf8ff;
  color: #000000;
  text-decoration: none;
}
a:hover, a:active, button:hover, button:active {
  color: #ebf8ff;
}
a:hover, button:hover {
  background-color: #3999cc;
}
a:active, button:active {
  background-color: #3c7899;
}

div.radar-item {
  position: relative;
  width: auto;
  height: max-content;
  display: grid;
  background: linear-gradient(65deg, #ebf8ff, #bddef0);
  border-radius: 16px;
}
div.radar-item.active {
  display: grid;
}
div.radar-item.hidden {
  display: none;
}
div.radar-item div.radar-images {
  height: -webkit-fill-available;
  z-index: 1;
  border-radius: 16px;
}
div.radar-item img.background-image {
  position: absolute;
  width: auto;
  height: -webkit-fill-available;
  border-radius: 16px;
}
div.radar-item img.border-layer {
  position: absolute;
  width: auto;
  height: -webkit-fill-available;
  border-radius: 16px;
}
div.radar-item div.radar-image.active {
  display: grid;
}
div.radar-item div.radar-image.hidden {
  display: none;
}
div.radar-item div.radar-image img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 16px;
}
div.radar-item div.time-info-container {
  position: absolute;
  z-index: 1;
  align-self: flex-start;
  justify-self: flex-start;
  padding: 0px 10px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #ebf8ff;
  border-bottom-right-radius: 16px;
  border-top-left-radius: 16px;
}
div.radar-item div.time-info-container .time-heading {
  font-weight: 500;
}
div.radar-item div.time-info-container .time {
  font-weight: 300;
}
div.radar-item img.logo {
  position: absolute;
  align-self: flex-end;
  justify-self: flex-end;
  width: 32px;
  height: auto;
  border-bottom-right-radius: 16px;
  border-top-left-radius: 16px;
  margin: 5px;
  padding: 10px;
  background-color: #ebf8ff;
  z-index: 2;
}

.content .main-menu {
  width: calc(100vw - 25px);
  min-height: 50px;
  max-height: 70px;
  margin: 5px auto;
  z-index: 1;
  display: flex;
  align-items: center;
  border-radius: 8px;
}
.content .main-menu a {
  border-radius: 0;
  background-color: rgba(235, 248, 255, 0.35);
}
.content .main-menu:hover a {
  background-color: #ebf8ff;
}
.content .main-menu a:hover {
  background-color: #3999cc;
}
.content .main-menu a:active {
  background-color: #3c7899;
}
.content .main-menu a:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.content .main-menu a:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.content.index {
  position: relative;
  display: grid;
}
.content.index img#current-radar {
  position: absolute;
  height: 100vh;
  object-fit: cover;
  justify-self: center;
}
.content.index div.map-grid {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(2, 50vw);
  grid-template-rows: repeat(2, 50vh);
}
.content.index div.map-grid img.map-tile {
  width: 100%;
  height: 100%;
  object-fit: cover;
  image-rendering: optimizeQuality;
}
.content.index div.map-grid img.map-tile.zw, .content.index div.map-grid img.map-tile.zo {
  object-position: 0 0%;
}
.content.index div.map-grid img.map-tile.zw {
  grid-column: 1;
  grid-row: 2;
}
.content.index div.map-grid img.map-tile.zo {
  grid-column: 2;
  grid-row: 2;
}
.content.index div.map-grid img.map-tile.no, .content.index div.map-grid img.map-tile.nw {
  object-position: 0% 100%;
}
.content.index div.map-grid img.map-tile.no {
  grid-column: 2;
  grid-row: 1;
}
.content.index div.map-grid img.map-tile.nw {
  grid-column: 1;
  grid-row: 1;
}
.content.index div.chart-slider {
  position: absolute;
  justify-self: center;
  align-self: flex-end;
  display: grid;
  grid-template-columns: 50px auto 35px;
  column-gap: 5px;
  align-items: center;
  justify-items: center;
  background-color: rgba(235, 248, 255, 0.8);
  padding: 10px;
  bottom: 25px;
  min-width: 300px;
  border-radius: 8px;
}
.content.index div.chart-slider input[type=range] {
  width: -webkit-fill-available;
}

.content.simulcast {
  display: grid;
  grid-template-columns: repeat(32, 3.125vw);
  grid-template-rows: repeat(32, 3.125vh);
}
.content.simulcast div.sidebar {
  grid-column: 26/span 7;
  grid-row: 1/span 12;
}
.content.simulcast div.sidebar div.radar-item:last-child, .content.simulcast div.sidebar div.radar-item:last-child .radar-images, .content.simulcast div.sidebar div.radar-item:last-child img.background-image, .content.simulcast div.sidebar div.radar-item:last-child .radar-image img, .content.simulcast div.sidebar div.radar-item:last-child .time-info-container {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.content.simulcast div.sidebar div.radar-item:first-child, .content.simulcast div.sidebar div.radar-item:first-child .radar-images, .content.simulcast div.sidebar div.radar-item:first-child img.background-image, .content.simulcast div.sidebar div.radar-item:first-child .radar-image img {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.content.simulcast div.slideshow {
  grid-column: 1/span 6;
  grid-row: 18/span 15;
  align-self: flex-end;
  justify-self: flex-start;
}
.content.simulcast div.slideshow div.radar-item .time-info-container {
  background-color: transparent;
}

* {
  font-family: "Jost", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.content {
  background: linear-gradient(65deg, #ebf8ff, #bddef0);
  width: 100vw;
  height: 100vh;
}

p {
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
