@use 'mixins/menu-item' as *;
@use 'mixins/observations' as *;
@use 'mixins/forecast' as *;
@use 'mixins/radars' as *;
@use 'mixins/settings' as *;
@use 'variables' as *;
@use 'jost' as *;
@use 'fasthand' as *;

*{
    font-family: 'Jost', sans-serif;
    font-size: map-get($map: $font-sizes, $key: regular);
    box-sizing: border-box;
}

.far{
    font-weight: 900;
}

.overflowable{
    overflow-y: scroll;
}

br{
    margin: 10px 0;
}

main{
    display: flex;
    flex-direction: row;
}

div.d-flex{
    width: 100%;
}

section#menu{
    height: 100vh;
    margin: 0;
    background-color: map-get($map: $colors, $key: background-color);

    nav.nav{
        padding: 15px;

        div.logo-container{
            display: flex;
            flex-direction: column;
            align-items: center;

            h2{
                font-family: 'Fasthand', cursive;
            }
        }

        a{
            @include menu-item;
        }

        #{$headers} {
            margin-bottom: 10px;
        }
    }
}

section#observations{
    max-height: 100vh;
    background-color: map-get($map: $colors, $key: background-color-2);
}

section#guidance{
    background-color: map-get($map: $colors, $key: background-color);
}

section#radars{
    max-height: 100vh;
    background-color: map-get($map: $colors, $key: background-color-2);
}

body{
    @media(max-width: 2560px){
        section#observations{
            max-width: 500px;
        }
    }

    @media(max-width: 1920px){
        section#observations{
            max-width: 800px;
        }
    }

    @media(max-width: 1720px){
        main{
            flex-direction: column;
        }

        section{
            width: 100vw !important;
            max-width: none !important;
        }

        #blitzortung{
           min-height: 400px;
        }

        section#menu{
            height: fit-content;
        }
    }
}
