@use 'mixins/menu-item' as *;
@use 'mixins/observations' as *;
@use 'mixins/forecast' as *;
@use 'variables' as *;

@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap');

*{
    font-family: 'Jost', sans-serif;
}

.far{
    font-weight: 900;
}

br{
    margin: 10px 0;
}

main{
    display: flex;
    flex-direction: row;
}

section#menu{
    height: 100vh;
    margin: 0;
    background-color: map-get($map: $colors, $key: background-color);

    nav.nav{
        padding: 15px;

        div.logo-container{
            display: flex;
            flex-direction: column;
            align-items: center;

            h2{
                font-family: 'Fasthand', cursive;
            }
        }

        a{
            @include menu-item;
        }

        #{$headers} {
            margin-bottom: 10px;
        }
    }
}

section#observations{
    max-width: 500px;
    background-color: map-get($map: $colors, $key: background-color-2);
}
