body {
  display: grid;
  grid-template-columns: repeat(14, 7.1428571429vw);
  justify-content: stretch;
  font-family: "Jost", sans-serif;
  font-weight: 300;
  background-color: #cfdbe9;
}

div#logo h5 {
  font-family: "Fasthand", cursive;
}

h1 {
  font-size: 2.5vh;
}

h2 {
  font-size: 2.1vh;
}

h3 {
  font-size: 2vh;
}

h4 {
  font-size: 1.9vh;
}

h5 {
  font-size: 1.7vh;
}

h6,
p.location-foad,
label,
input[type=radio] {
  font-size: 1.35vh;
}

a {
  font-size: 1.4vh;
}

span,
select,
input[type=text],
p,
button {
  font-size: 1.4vh;
}

i.fa-solid,
i.fas {
  font-size: 1.25vh;
}

nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

div.container {
  display: flex;
  flex-wrap: nowrap;
}
div.container.flex-grow {
  flex-grow: 1;
  overflow: auto;
}
div.container.overflow-hidden {
  overflow: hidden;
}
div.container.padding-bottom {
  padding-bottom: 10px;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.col.grid {
  display: grid !important;
  align-items: center;
}

div#logo h5 {
  font-size: 32px;
}

@media (max-width: 1170px) {
  body {
    grid-template-columns: none;
    display: flex;
    flex-direction: column;
  }
  section {
    width: 100vw !important;
  }
}
section#observations {
  grid-column: 3/span 3;
  padding: 10px 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
  flex-wrap: nowrap;
  background-color: #e8f5ff;
}
section#observations h5 {
  margin-bottom: 0;
}
section#observations div.spacer {
  width: 2px;
  height: 15px;
}
section#observations div#observations {
  display: flex;
  background: linear-gradient(135deg, #92b7fc, #cfdbe9);
  border-radius: 6px;
  margin: 5px;
  padding: 0 20px;
  align-items: stretch;
  padding: 0;
}
section#observations div#observations div.col.grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, 50%);
  margin: 10px 0;
  justify-items: center;
}
section#observations div#observations div.col.grid div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 0;
}
section#observations div#observations div.col.grid div h6 {
  margin: 0;
}
section#observations div#observations div.col.grid div i {
  margin-bottom: 5px;
}
section#observations div#observations h5,
section#observations div#observations h2 {
  margin-bottom: 0;
}
section#observations div#observations img#observation-icon {
  background-color: white;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  object-fit: none;
}
section#observations h5#station-name {
  font-weight: 300;
}
section#observations div#location-selector a#add-location {
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
  color: black;
  text-decoration: none;
  padding: 8px 20px;
  margin: 0 5px;
  border-radius: 4px;
  font-weight: 400;
  transition: all 180ms ease-in-out;
  grid-template-columns: auto;
  border: none;
  outline: none;
}
section#observations div#location-selector a#add-location i {
  align-self: center;
  justify-self: center;
}
section#observations div#location-selector a#add-location img {
  height: 2.5vh;
  width: auto !important;
}
section#observations div#location-selector a#add-location:hover {
  background-color: #92b7fc;
  color: #000000;
}
section#observations div#location-selector a#add-location:hover::before {
  background-color: #01264d;
  width: 100%;
}
section#observations div#location-selector a#add-location:active {
  color: #ffffff;
  background-color: #01264d;
  box-shadow: 0px 2px 0px 0px #92b7fc;
}
section#observations div#location-selector a#add-location i {
  margin: 0;
}
section#observations div#location-selector select#stations {
  background-color: #fcfeff;
  border-radius: 6px;
  border: none;
  padding: 5px;
  width: 98%;
}
section#observations div#forecast {
  display: flex;
  background: linear-gradient(135deg, #92b7fc, #cfdbe9);
  border-radius: 6px;
  margin: 5px;
  padding: 0 20px;
  grid-auto-flow: column;
  overflow: auto;
  background: none;
  grid-template-rows: 1;
  padding: 0;
  padding-bottom: 5px;
  column-gap: 10px;
}
section#observations div#forecast[data-count="3"] {
  grid-template-columns: repeat(3, 31.6666666667%);
  overflow: hidden;
}
section#observations div#forecast[data-count="7"] {
  grid-template-columns: repeat(7, 150px);
}
section#observations div#forecast[data-count="14"] {
  grid-template-columns: repeat(13, 150px);
}
section#observations div#forecast div.forecast-day {
  display: grid;
  grid-template-rows: repeat(5, auto);
  background: linear-gradient(135deg, #92b7fc, #cfdbe9);
  border-radius: 4px;
  justify-items: stretch;
}
section#observations div#forecast div.forecast-misc {
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto;
  justify-items: stretch;
}
section#observations div#forecast div.forecast-wind {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-self: center;
  margin: 10px 0;
}
section#observations div#forecast div.forecast-wind i {
  margin-bottom: 5px;
}
section#observations div#forecast div.forecast-wind h6.speed {
  margin: 0;
}
section#observations div#forecast div.forecast-humidity {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-self: center;
  margin: 10px 0;
}
section#observations div#forecast div.forecast-humidity i {
  margin-bottom: 5px;
}
section#observations div#forecast div.forecast-humidity h6.forecast-precipitation {
  margin: 0;
}
section#observations div#forecast img.forecast-icon {
  height: 65px;
  width: 100%;
  background-color: #ffffff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 2px;
  margin-bottom: 10px;
  align-self: flex-start;
  object-fit: contain;
}
section#observations div#forecast h5.forecast-date {
  font-weight: 400;
  border-bottom: #01264d 2px solid;
  margin: 0 0 5px 0;
  justify-self: center;
}
section#observations div#forecast div.forecast-temp {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 5px 0;
}
section#observations div#forecast div.forecast-temp h6 {
  font-weight: 500;
  margin: 2px 0;
  align-self: flex-start;
}
section#observations div#forecast div.forecast-temp h6.high {
  color: #a41d1d;
}
section#observations div#forecast div.forecast-temp h6.high::before {
  content: "\f185";
  font-family: "FontAwesome";
  margin-right: 15px;
}
section#observations div#forecast div.forecast-temp h6.low {
  color: #303eb5;
}
section#observations div#forecast div.forecast-temp h6.low::before {
  content: "\f186";
  font-family: "FontAwesome";
  margin-right: 17px;
  margin-left: 2px;
}
section#observations div#hourly-forecast {
  display: flex;
  background: linear-gradient(135deg, #92b7fc, #cfdbe9);
  border-radius: 6px;
  margin: 5px;
  padding: 0 20px;
  background: none;
  overflow-y: auto;
  margin-bottom: 20px;
  height: 100%;
  padding: 0;
  grid-row-gap: 8px;
  grid-auto-rows: max-content;
}
section#observations div#hourly-forecast div.forecast-hour {
  display: grid;
  grid-template-columns: 15% 25% 30% 30%;
  background: linear-gradient(135deg, #92b7fc, #cfdbe9);
  border-radius: 4px;
  align-items: center;
  justify-items: stretch;
  min-height: 65px;
}
section#observations div#hourly-forecast div.forecast-misc {
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto;
}
section#observations div#hourly-forecast img.forecast-icon {
  height: 65px;
  background-color: #ffffff;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 2px;
  align-self: flex-start;
  object-fit: contain;
}
section#observations div#hourly-forecast h6,
section#observations div#hourly-forecast h4 {
  margin-bottom: 0;
}
section#observations div#hourly-forecast h6.forecast-time {
  border-bottom: #01264d 2px solid;
  font-weight: 400;
  justify-self: center;
}
section#observations div#hourly-forecast div.forecast-wind,
section#observations div#hourly-forecast div.forecast-humidity {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section#observations div#hourly-forecast i {
  margin-bottom: 5px;
}
@media (max-width: 2250px) {
  section#observations br {
    max-height: 10px;
  }
  section#observations div#observations img#observation-icon {
    width: 72px;
    object-fit: contain;
  }
  section#observations div#forecast {
    padding: 0;
    grid-auto-flow: row;
    overflow-y: scroll;
    flex-wrap: wrap;
    max-height: 300px;
    grid-template-columns: auto !important;
    grid-row-gap: 8px;
  }
  section#observations div#forecast[data-count="3"] {
    grid-template-rows: repeat(3, auto);
  }
  section#observations div#forecast[data-count="7"] {
    grid-template-rows: repeat(7, auto);
  }
  section#observations div#forecast[data-count="14"] {
    grid-template-rows: repeat(13, auto);
  }
  section#observations div#forecast div.forecast-day {
    display: grid;
    grid-template-columns: 15% 30% 25% 30%;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding-right: 10px;
  }
  section#observations div#forecast img.forecast-icon {
    border-radius: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    object-fit: contain;
    height: auto;
    padding: 2px;
    margin: 0;
  }
  section#observations div#forecast div.forecast-humidity {
    margin: 0;
  }
  section#observations div#forecast div.forecast-temp {
    justify-content: center;
    margin: 0;
  }
  section#observations div#forecast div.forecast-wind {
    margin: 0;
  }
  section#observations div#hourly-forecast div.forecast-hour {
    min-height: auto;
  }
  section#observations div#hourly-forecast img.forecast-icon {
    height: auto !important;
  }
}
@media (max-width: 1800px) {
  section#observations {
    grid-column: 3/span 4;
  }
  section#observations div#forecast div#forecast-temp h6.high {
    margin-bottom: 5px;
  }
  section#observations div#forecast div#forecast-temp h6.low::before {
    margin-left: 5px;
  }
  section#observations div#forecast h5.forecast-date {
    margin-bottom: 0;
  }
}
@media (max-width: 1420px) {
  section#observations {
    grid-column: 3/span 5;
  }
}
@media (max-width: 1170px) {
  section#observations {
    min-height: 300px;
  }
}

section#menu {
  grid-column: 1/span 2;
  height: auto !important;
  padding: 10px 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-wrap: nowrap;
}
section#menu div.col-12 {
  margin: 10px 0;
}
section#menu nav a {
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
  color: black;
  text-decoration: none;
  padding: 5px;
  margin: 5px;
  border-radius: 4px;
  font-weight: 400;
  transition: all 180ms ease-in-out;
}
section#menu nav a i {
  align-self: center;
  justify-self: center;
}
section#menu nav a img {
  height: 2.5vh;
  width: auto !important;
}
section#menu nav a:hover {
  background-color: #92b7fc;
  color: #000000;
}
section#menu nav a:hover::before {
  background-color: #01264d;
  width: 100%;
}
section#menu nav a:active {
  color: #ffffff;
  background-color: #01264d;
  box-shadow: 0px 2px 0px 0px #92b7fc;
}
section#menu div#secondary-nav[data-collapsed=expanded] {
  display: flex;
}
section#menu div#secondary-nav[data-collapsed=collapsed] {
  display: none;
}
section#menu div#secondary-nav nav#nav-items {
  display: grid;
}
section#menu button#secondary-nav-expand {
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
  color: black;
  text-decoration: none;
  padding: 10px 20px;
  margin: 0;
  border-radius: 6px;
  font-weight: 400;
  transition: all 180ms ease-in-out;
  background-color: #cfdbe9;
  border: none;
  outline: none;
  grid-template-columns: auto;
  justify-self: flex-end;
}
section#menu button#secondary-nav-expand i {
  align-self: center;
  justify-self: center;
}
section#menu button#secondary-nav-expand img {
  height: 2.5vh;
  width: auto !important;
}
section#menu button#secondary-nav-expand:hover {
  background-color: #92b7fc;
  color: #000000;
}
section#menu button#secondary-nav-expand:hover::before {
  background-color: #01264d;
  width: 100%;
}
section#menu button#secondary-nav-expand:active {
  color: #ffffff;
  background-color: #01264d;
  box-shadow: 0px 2px 0px 0px #92b7fc;
}
section#menu nav a.secondary-item img {
  width: 24px;
  justify-self: center;
}

section#settings {
  grid-column: 3/span 4;
  padding: 10px 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 5px;
  flex-wrap: nowrap;
  background-color: #e8f5ff;
}
section#settings div.container {
  padding: 20px;
}
section#settings button {
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
  color: black;
  text-decoration: none;
  padding: 6px;
  margin: 2px;
  border-radius: 4px;
  font-weight: 400;
  transition: all 180ms ease-in-out;
  flex-wrap: nowrap;
  outline: none;
  border: transparent 1px solid;
  background-color: #cfdbe9;
  justify-content: center;
}
section#settings button i {
  align-self: center;
  justify-self: center;
}
section#settings button img {
  height: 2.5vh;
  width: auto !important;
}
section#settings button:hover {
  background-color: #92b7fc;
  color: #000000;
}
section#settings button:hover::before {
  background-color: #01264d;
  width: 100%;
}
section#settings button:active {
  color: #ffffff;
  background-color: #01264d;
  box-shadow: 0px 2px 0px 0px #92b7fc;
}
section#settings button:hover {
  border: transparent 1px solid;
}
section#settings button i {
  margin: 0;
  padding: 0 10px;
}
section#settings h5.title {
  border-bottom: #01264d 1px solid;
}
section#settings div#locations {
  row-gap: 10px;
  margin-bottom: 20px;
}
section#settings div.saved-location {
  padding: 10px;
  background-color: #d8e3ef;
  border-radius: 6px;
}
section#settings div.saved-location p.location-foad {
  border-bottom: #01264d 1px solid;
  width: fit-content;
  font-weight: 400;
  margin: 0;
}
section#settings div.saved-location button {
  grid-template-columns: auto;
}
section#settings div.saved-location button i {
  margin: 0;
}
section#settings div#top-bar {
  display: grid;
  grid-template-columns: 80% 20%;
  align-items: center;
  margin-bottom: 10px;
  max-height: 50px;
}
section#settings div#top-bar input {
  margin-right: 15px;
  padding: 7px;
  border-radius: 6px;
  outline: none;
  border: none;
}
section#settings div#results {
  display: grid;
  grid-auto-rows: max-content;
  overflow-y: auto;
  align-items: start;
  row-gap: 10px;
}
section#settings div.search-result {
  display: grid;
  grid-template-columns: 90% 10%;
  padding: 10px;
  align-items: center;
  background-color: #d8e3ef;
  border-radius: 6px;
}
section#settings div.search-result h6.location-name {
  grid-column: 1;
  grid-row: 1;
  margin-bottom: 8px;
}
section#settings div.search-result p.location-foad {
  grid-column: 1;
  grid-row: 2;
  font-weight: 400;
  border-bottom: #01264d 1px solid;
  width: fit-content;
  margin: 0;
}
section#settings div.search-result button.add-location {
  grid-column: 2;
  grid-row: span 2;
  grid-template-columns: auto;
}
section#settings div.search-result button.add-location i {
  margin: 0;
}
@media (max-width: 1000px) {
  section#settings {
    height: 140vh !important;
  }
}

section#report {
  padding: 10px 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
  overflow-y: auto;
  grid-column: 6/span 6;
  background-color: #e8f5ff;
}
section#report h3 {
  margin-bottom: 15px;
}
section#report span#guidance-text p {
  margin: 20px 0 0 0;
  font-weight: 400;
}
section#report span#guidance-text p strong {
  font-weight: 500;
}
section#report div#announcements {
  margin: 0 0 10px 0;
  height: auto;
  grid-template-columns: 60px auto 120px;
  justify-items: self-start;
  background-color: #cfdbe9;
  border-radius: 6px;
}
section#report div#announcements a {
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
  color: black;
  text-decoration: none;
  padding: 8px;
  margin: 0 5px 0 2px;
  border-radius: 6px;
  font-weight: 400;
  transition: all 180ms ease-in-out;
  justify-self: stretch;
  justify-content: center;
  grid-template-columns: auto;
}
section#report div#announcements a i {
  align-self: center;
  justify-self: center;
}
section#report div#announcements a img {
  height: 2.5vh;
  width: auto !important;
}
section#report div#announcements a:hover {
  background-color: #92b7fc;
  color: #000000;
}
section#report div#announcements a:hover::before {
  background-color: #01264d;
  width: 100%;
}
section#report div#announcements a:active {
  color: #ffffff;
  background-color: #01264d;
  box-shadow: 0px 2px 0px 0px #92b7fc;
}
section#report div#announcements i.fa-solid.fa-warning {
  font-size: 32px;
  text-align: center;
  padding: 2vh 10px;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
section#report div#announcements[data-color=YELLOW] i {
  color: rgb(241, 223, 16);
}
section#report div#announcements[data-color=ORANGE] i {
  color: orange;
}
section#report div#announcements[data-color=RED] i {
  color: red;
}
section#report div#announcements h6#warning-locations {
  margin: 0 10px;
}
section#report div#announcements span#warning-title {
  font-weight: 300;
  font-size: 1.9vh;
  margin: 0 10px;
}
@media (max-width: 1170px) {
  section#report {
    height: auto !important;
  }
}
@media (max-width: 1800px) {
  section#report {
    grid-column: 7/span 5;
  }
}
@media (max-width: 1420px) {
  section#report {
    grid-column: 8/span 4;
    flex-wrap: nowrap;
  }
}

section#radar {
  padding: 10px 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  grid-column: 12/span 3;
  overflow: hidden;
  flex-wrap: nowrap;
  background-color: #e8f5ff;
}
section#radar select#radar-options {
  border: none;
  border-radius: 4px;
  padding: 5px;
}
section#radar select#radar-speed {
  border: none;
  border-radius: 4px;
  padding: 5px;
}
section#radar select#radar-speed::before {
  content: "\f101";
  font-family: "FontAwesome";
}
section#radar select#radar-times {
  border: none;
  border-radius: 4px;
  padding: 5px;
}
section#radar div#radar-images {
  position: relative;
}
section#radar i.fa-solid {
  margin-left: 55%;
}
section#radar img#radar-image {
  width: 100%;
  object-fit: contain;
  background-image: url("https://image-lite.buienradar.nl/3.0/background/MapWebmercatorNL?size=full");
  background-size: cover;
  background-repeat: no-repeat;
}
section#radar div#radar-container div#radar-selector {
  display: grid;
  grid-template-columns: 70% 10% 20%;
  align-items: center;
  padding: 6px;
  background-color: #cfdbe9;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
section#radar div#radar-container div#radar-selector select {
  background-color: #fcfeff;
}
section#radar div#radar-container div#radar-controls {
  padding: 6px;
  grid-template-columns: 10% 15% 50% 10% 15%;
  background-color: #cfdbe9;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
section#radar div#radar-container span#radar-time {
  justify-self: center;
  font-weight: 500;
}
section#radar div#radar-container button#radar-playpause {
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
  color: black;
  text-decoration: none;
  padding: 8px 0;
  margin: 2px;
  border-radius: 6px;
  font-weight: 400;
  transition: all 180ms ease-in-out;
  grid-template-columns: auto;
  background-color: transparent;
  outline: 0;
  border: 0;
  justify-content: center;
}
section#radar div#radar-container button#radar-playpause i {
  align-self: center;
  justify-self: center;
}
section#radar div#radar-container button#radar-playpause img {
  height: 2.5vh;
  width: auto !important;
}
section#radar div#radar-container button#radar-playpause:hover {
  background-color: #92b7fc;
  color: #000000;
}
section#radar div#radar-container button#radar-playpause:hover::before {
  background-color: #01264d;
  width: 100%;
}
section#radar div#radar-container button#radar-playpause:active {
  color: #ffffff;
  background-color: #01264d;
  box-shadow: 0px 2px 0px 0px #92b7fc;
}
section#radar div#radar-container button#radar-playpause i {
  margin: 0;
}
section#radar img#warnings-today {
  object-fit: contain;
  width: 100%;
  padding-bottom: 25px;
}
@media (max-width: 1170px) {
  section#radar {
    height: auto !important;
  }
}

section#progtemps {
  background-color: #e8f5ff !important;
  grid-column: 3/span 5;
  padding: 10px 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;
}
section#progtemps iframe#progtemps-embed {
  overflow: hidden;
  height: 850px;
  margin: 0 50px;
  background-color: #e8f5ff !important;
}
section#progtemps iframe#progtemps-embed body {
  background-color: #e8f5ff !important;
  overflow: hidden;
}

section#charts {
  background-color: #e8f5ff !important;
  grid-column: 8/span 5;
  padding: 10px 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;
}
section#charts select#chart-options {
  border: none;
  border-radius: 4px;
  padding: 5px;
  width: 100%;
  background-color: #fcfeff;
}
section#charts div#charts-selector {
  padding: 6px;
  background-color: #cfdbe9;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
section#charts div#charts-controls {
  padding: 6px;
  background-color: #cfdbe9;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
section#charts img#chart-image {
  width: 100%;
  object-fit: contain;
}

section#warnings {
  grid-column: 3/span 3;
  padding: 10px 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #e8f5ff;
}
section#warnings div#warnings-list {
  row-gap: 15px;
}
section#warnings div.announcement {
  grid-template-rows: auto;
  row-gap: 10px;
  background-color: #d8e3ef;
  padding: 5px;
  border-radius: 6px;
}
section#warnings div.announcement h4,
section#warnings div.announcement h6 {
  margin: 5px 5px;
}
section#warnings div.announcement[data-expanded=collapsed] div.announcement-alerts {
  display: none !important;
}
section#warnings button.announcement-expand {
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
  color: black;
  text-decoration: none;
  padding: 5px;
  margin: 10px 2px;
  border-radius: 6px;
  font-weight: 400;
  transition: all 180ms ease-in-out;
  background-color: #cfdbe9;
  border: none;
  outline: none;
  grid-template-columns: auto;
  height: 80%;
}
section#warnings button.announcement-expand i {
  align-self: center;
  justify-self: center;
}
section#warnings button.announcement-expand img {
  height: 2.5vh;
  width: auto !important;
}
section#warnings button.announcement-expand:hover {
  background-color: #92b7fc;
  color: #000000;
}
section#warnings button.announcement-expand:hover::before {
  background-color: #01264d;
  width: 100%;
}
section#warnings button.announcement-expand:active {
  color: #ffffff;
  background-color: #01264d;
  box-shadow: 0px 2px 0px 0px #92b7fc;
}
section#warnings button.announcement-expand i {
  margin: 0;
}
section#warnings div.announcement-title {
  grid-template-columns: 90% 10%;
  grid-template-rows: auto;
}

section#warning-overview {
  grid-column: 6/span 9;
  background-color: #e8f5ff;
  padding: 10px 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* cyrillic */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(../css/fonts/92zatBhPNqw73oTd4jQmfxI.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* khmer */
@font-face {
  font-family: "Fasthand";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../css/fonts/0yb9GDohyKTYn_ZEERkpaE0Urhg0.woff2) format("woff2");
  unicode-range: U+1780-17FF, U+19E0-19FF, U+200C, U+25CC;
}
/* latin */
@font-face {
  font-family: "Fasthand";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../css/fonts/0yb9GDohyKTYn_ZEERkpaE0Urhg0.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*# sourceMappingURL=style.css.map */
