$colors: (
    background-color: #fbf2e0,
    menu-hover: #72caf3,
    menu-hover-text: #000000,
    menu-active-text:#ffffff,
    menu-shadow: #01264d
);

$typo:(
    menu-hover: 17px,
    menu: 16px,
    logo: 32px,
);