$colors: (
    background-color: #e0edfb,
    background-color-2: #e8f5ff,
    background-widget: #92b7fc,
    menu-hover: #92b7fc,
    menu-hover-text: #000000,
    menu-active-text:#ffffff,
    menu-shadow: #01264d,
    icon-background: #ffffff,
    temperature-high: #a41d1d,
    temperature-low: #303eb5,
    background-result: #d8e3ef
);

$typo:(
    menu-hover: 17px,
    menu: 16px,
    logo: 32px,
    warning-icon: 32px,
    observation-icons: 20px,
    menu-button: 16px,
);