$colors: (
    background-color: #fbf2e0,
    background-widget: #719ff5,
    menu-hover: #719ff5,
    menu-hover-text: #000000,
    menu-active-text:#ffffff,
    menu-shadow: #01264d,
    icon-background: #ffffff,
    temperature-high: #a41d1d,
    temperature-low: #303eb5,
    background-result: #efead8
);

$typo:(
    menu-hover: 17px,
    menu: 16px,
    logo: 32px,
    warning-icon: 32px,
);