@use 'variables' as *;
@use 'core/typo' as *;
@use '../../css/fonts/jost.css';
@use 'layout';
@use 'components';

*{
    font-family: map-get($map: $typo, $key: font-family);
}

body{
    margin: 0;
    padding: 0;
}

.content{
    width: 100vw;
    height: 100vh;

    .main-menu{
        width: calc(100vw - 25px);
        min-height: 50px;
        max-height: 60px;

        margin: 5px auto;

        display: flex;
        align-items: center;
    }

    .main-menu a{
        margin-right: 10px;

        &:active{
            box-shadow: inset 0px 2px 20px 0px transparentize($color: #000000, $amount: .65);
        }
    }
}

p{
    margin: 0;
}