@use "variables" as *;
@use "core/typo" as *;
@use "../../css/fonts/jost.css";
@use "components";
@use "layout";

* {
    font-family: map-get($map: $typo, $key: font-family);
}

body {
    margin: 0;
    padding: 0;
}

.content {
    background: linear-gradient(65deg, map-get($colors, primary-color), map-get($colors, secondary-color));
    width: 100vw;
    height: 100vh;
}

p {
    margin: 0;
    font-size: map-get($map: $font-sizes, $key: base);
}

div.console-log{
    display: flex;
    flex-direction: column;

    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}
