@use '../../variables' as *;

@mixin forecast{
    background-color: map-get($map: $colors, $key: button-color);
    border-radius: 4px;
    box-shadow: 0px 3px 0px 0  map-get($map: $colors, $key: button-pressed);

    margin: 25px;

    display: flex;
    justify-content: space-evenly;

    div.forecast-day{
        display: grid;

        grid-template-rows: repeat(3,auto);
        width: 125px;

        padding: 15px 0;

        &:first-child{
            border-right: map-get($map: $colors, $key: background-color-4) 1px solid;
        }

        &:last-child{
            border-left: map-get($map: $colors, $key: background-color-4) 1px solid;
        }
    }

    div.forecast-icon-container{
        width:100%;

      display: grid;
    }

    img.forecast-icon{
        align-self: center;
        justify-self: center;

        width:72px;
        padding:5px;

        background-color: map-get($map: $colors, $key: background-color-3);
        border-radius: 40px;
        box-shadow: 0px 3px 0px 0  map-get($map: $colors, $key: button-pressed);
    }

    h5.forecast-date{
        margin-top: 15px;
        text-align: center;

        font-weight: 500;
    }

    div.forecast-shadow-container{
        border-radius: 40px;

        margin: 15px 0;
        padding: 0 5px;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    div.forecast-temp-container{
        display: grid;
        align-items: center;
        justify-items: center;

        grid-template-rows: repeat(2, 50%);

        padding: 10px;
    }

    h6.forecast-temp-high{
        color:map-get($map: $colors, $key: temp-max);
        font-weight: 700;
    }

    h6.forecast-temp-low{
        color:map-get($map: $colors, $key: temp-min);
        font-weight: 700;
    }

    div.forecast-wind-container{
        display: grid;
        align-content: center;
        align-items: center;
        justify-items: center;

        grid-template-rows: repeat(2, 50%);

        padding: 10px ;
    }

    i.forecast-wind-icon{
        height: fit-content;
    }
}
