@use "../variables" as *;

.primary-button, .secondary-button{
    border: none;
    outline: none;

    text-decoration: none;

    color: map-get($map: $colors, $key: text-black);

    &:hover, &:active{
        color: map-get($map: $colors, $key: primary-color);
    }
}

.primary-button {
    padding: 15px 20px;
    border-radius: 2px;

    background-color: map-get($map: $primary-button, $key: default);

    transition: all 150ms;

    &:hover {
        background-color: map-get($map: $primary-button, $key: hover);
    }

    &:active {
        background-color: map-get($primary-button, active);
    }
}

.secondary-button {
    padding: 15px 20px;
    border-radius: 2px;

    background-color: map-get($map: $secondary-button, $key: default);

    transition: all 150ms;

    &:hover {
        background-color: map-get($map: $secondary-button, $key: hover);
    }

    &:active {
        background-color: map-get($secondary-button, active);
    }
}

