@use "../variables" as *;

section.nav-section {
    .container {
        padding: unset;
        display: flex;

        align-items: center;
        justify-content: space-between;

        margin: 5px auto;
    }

    .container .site-logo-link {
        background-color: unset;
        padding: unset;
        box-shadow: unset;
        border-radius: unset;

        border-bottom: #ffffff 3px solid;

        &:hover {
            background-color: unset;

            border-bottom: map-get($map: $colors, $key: link-color) 3px solid;
        }
    }

    .container #site-logo {
        max-height: 4vh;
    }

    .container nav .nav-button {
        color: map-get($map: $colors, $key: button-shadow) !important;
        background-color: map-get($map: $colors, $key: text-white);

        border-radius: 0;
        box-shadow: unset;
        font-size: map-get($map: $typo, $key: menu-item);

        &:hover {
            color: map-get($map: $colors, $key: text-white) !important;
            background-color: map-get($map: $colors, $key: link-color);
        }
    }

    .container nav {
        display: flex;
        margin-left: 20px;

        height: -webkit-fill-available;

        a:first-child{
            border-top-left-radius: map-get($map: $border-radius, $key: '200');
            border-bottom-left-radius: map-get($map: $border-radius, $key: '200');
        }

        a:last-child{
            border-top-right-radius: map-get($map: $border-radius, $key: '200');
            border-bottom-right-radius: map-get($map: $border-radius, $key: '200');
        }
    }

    .container .observations.small{
        border-radius: map-get($map: $border-radius, $key: '300');
        background-color: map-get($map: $colors, $key: background-color);

        padding: 5px 10px;

        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 15px;
        align-items: center;
    }

    .container .observations.small p{
        margin: 0;

        font-size: map-get($map: $typo, $key: temperature);
    }

    .container .observations.small .icon{
        grid-column: 1;

        height: 3vh;
        width: auto;
    }

    .container .observations.small .temperature{
        font-weight: 600;
    }
}
