@use '../variables' as *;

h1{
    font-size: map-get($map: $font-sizes, $key: h1);
}

h2{
    font-size: map-get($map: $font-sizes, $key: h2);
}

h3{
    font-size: map-get($map: $font-sizes, $key: h3);
}

h4{
    font-size: map-get($map: $font-sizes, $key: h4);
}

h5{
    font-size: map-get($map: $font-sizes, $key: h5);
}

h6{
    font-size: map-get($map: $font-sizes, $key: h6);
}

