@mixin section($width) {
    padding: 10px;
    height: 100vh;
    width: $width;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

@mixin grid($columnAmount, $rowAmount, $percentage) {
    display: grid;
    grid-template-columns: repeat($columnAmount, $percentage);
    grid-template-rows: repeat($rowAmount, $percentage);
}

@mixin box-shadow($inset, $opacity, $blur, $color){
    box-shadow: $inset 10px 10px 10px 10px $color;
}
