@use '../config/variables.scss' as *;
@use '../partials/grid' as *;

@mixin nav-button {
    @include grid($columns: 10% auto, $rows: auto);

    border: none;
    outline: none;

    border-radius: 30px;

    background-color: map-get($map: $colors, $key: button-normal);
    transition: all 160ms ease-in-out;
    text-decoration: none;
    color: map-get($map: $colors, $key: text-normal);

    i, span, h1, h2, h3, h4, h5, h6{
        transition: all 160ms ease-in-out;

        color: map-get($map: $colors, $key: text-normal);
    }

    i{
        width: min-content;
        justify-self: center;
    }

    &:hover{
        background-color: map-get($map: $colors, $key: button-hover);

        i, span, h1, h2, h3, h4, h5, h6{
            color: map-get($map: $colors, $key: text-hover);
        }

    }

    &:active{
        background-color: map-get($map: $colors, $key: button-pressed);
    }
}
