@use '../../variables' as *;

@mixin announcements{
    background-color: map-get($map: $colors, $key: warning-green);
    height: 40px;
    display: grid;

    grid-template-columns: 10% 90%;

    div.info-icon{
        font-size: map-get($map: $font-sizes, $key: temp-feel);
        grid-column: 1;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    div.announcements-info{
        grid-column: 2;

        display: grid;
        grid-template-rows: repeat(50%);
    }

    h4#announcement-title{
        grid-row: 1;
    }

    span#announcement-description{
        grid-row: 2;
    }
}
