@use '../../partials/grid' as *;
@use '../../partials/nav-button' as *;

@use '../../config/variables' as *;

@media(max-width: 1175px) {
    h1 {
        font-size: map-get($map: $typo, $key: h1);
    }

    h2 {
        font-size: map-get($map: $typo, $key: h2);
    }

    h3 {
        font-size: map-get($map: $typo, $key: h3);
    }

    h4 {
        font-size: map-get($map: $typo, $key: h4);
    }

    h5 {
        font-size: map-get($map: $typo, $key: h5);
    }

    h6 {
        font-size: map-get($map: $typo, $key: h6);
    }

    body {
        background-color: map-get($map: $colors, $key: background-color);
        height: 100vh;
    }

    div#nav-bar {
        @include grid($columns: 20% auto 15%);

        padding: 10px;
        position: relative;

        img#logo {
            height: 100%;
        }

        nav#nav-menu {
            background-color: map-get($map: $colors, $key: background-color-3);
            border-radius: 6px;

            grid-column: 1 / span 3;

            width: 95vw;
            top: 8vh;
            z-index: 9999;

            flex-direction: column;
            position: absolute;

            a {
                @include nav-button;

                grid-template-columns: 15% 85%;

                margin-bottom: 5px;
                padding: 10px 5px;

                text-decoration: none;
                color: map-get($map: $colors, $key: text-normal);

                i {
                    align-self: center;
                    justify-self: center;

                    font-size: map-get($map: $typo, $key: menu-button-icon);
                }

                span {
                    align-self: center;
                }
            }
        }

        button#nav-expand {
            @include nav-button;

            grid-column: 3;
            grid-row: 1;

            grid-template-columns: auto;
            grid-template-rows: auto;

            i {
                align-self: center;
                justify-self: center;

                font-size: map-get($map: $typo, $key: nav-button-icon);
            }
        }

        &[data-expanded="collapsed"] {
            grid-template-rows: 5vh;

            button#nav-expand {
                i {
                    transition: all 150ms ease-in-out;
                    transform: rotate(0deg);
                }
            }

            nav#nav-menu {
                height: 0;
                display: none;
            }
        }

        &[data-expanded="expanded"] {
            grid-template-rows: 5vh;

            button#nav-expand {
                i {
                    transition: all 150ms ease-in-out;
                    transform: rotate(180deg);
                }
            }

            nav#nav-menu {
                display: flex;
            }
        }
    }

    section#search-bar {
        padding: 20px 0;

        div.text-input {
            @include grid($columns: auto 15%, $rows: auto);

            border-radius: 6px;
            background-color: map-get($map: $colors, $key: background-color-3);

            border: map-get($map: $colors, $key: button-pressed) 1px solid;

            input#search-query {
                border: none;
                outline: none;

                padding: 5px;

                border-radius: 6px;
            }

            button#search {
                @include nav-button;

                grid-template-columns: auto;
                grid-template-rows: auto;

                border-top-left-radius: 0%;
                border-bottom-left-radius: 0%;

                i {
                    align-self: center;
                    justify-self: center;
                }
            }
        }
    }

    section#observations {
        padding: 5px 0;

        div.container {
            height: 85px;
        }

        img#icon {
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;

            height: 100%;
            object-fit: contain;

            background-color: map-get($map: $colors, $key: background-color-3);
        }

        div#observations-widget {
            @include grid($columns: repeat(3, 33.3%), $rows: auto);

            align-items: center;

            padding: 5px 15px;

            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;

            background: linear-gradient(65deg, map-get($map: $colors, $key: background-color-2), map-get($map: $colors, $key: background-color-4));

            h2#temperature {
                grid-column: 1;

                margin: 0;
            }

            div#col-precip {
                display: flex;
                flex-direction: column;
                align-items: center;

                grid-column: 2;

                i {
                    width: fit-content;
                    margin-bottom: 10px;
                }

                h4 {
                    margin: 0;
                }
            }

            div#col-wind {
                display: flex;
                flex-direction: column;
                align-items: center;

                i {
                    width: fit-content;
                    margin-bottom: 10px;
                }

                h4 {
                    margin: 0;
                }

                grid-column: 3;
            }
        }
    }

    section#more-info {
        div#more-information {
            @include grid($columns: 10% 40% 40% 10%, $rows: auto);

            align-items: center;
        }

        h5{
            margin: 0;
        }
    }
}
