@use '../../partials/grid' as *;
@use '../../partials/nav-button' as *;
@use './fonts' as *;
@use '../../config/variables' as *;

@media(max-width: 1175px) {
    body {
        background-color: map-get($map: $colors, $key: background-color);
        overflow-y: auto;
    }

    div.content {
        max-height: calc(100vh - 7vh);
        overflow-y: auto;
    }

    div#nav-bar {
        @include grid($columns: 20% auto 20%, $rows: auto);

        height: 7vh;

        position: relative;

        img#logo {
            height: 7vh;
            padding: 1vh 10px;
        }

        nav#nav-menu {
            position: absolute;
            background-color: map-get($map: $colors, $key: button-normal);

            grid-column: 1 / span 3;

            top: 7vh;
            width: 100vw;
            height: calc(100vh - 7vh);
            z-index: 9999;

            flex-direction: column;
            position: absolute;

            background-image: url('../../../assets/menu-bg-3.png');
            background-position-y: calc(92vh - 200px);
            background-position-x: 2vw;
            background-repeat: no-repeat;
            background-size: contain;

            transition: all 250ms ease-in-out;

            a {
                @include nav-button;

                grid-template-columns: 15% 85%;

                margin-bottom: 5px;
                margin-left: 25px;
                margin-right: 25px;

                padding: 10px 5px;

                transition: all 200ms ease-in-out;

                text-decoration: none;
                color: map-get($map: $colors, $key: text-normal);

                & nth:first-child {
                    border-top-right-radius: 6px;
                    border-top-left-radius: 6px;
                }

                & nth:last-child {
                    border-bottom-left-radius: 6px;
                    border-bottom-right-radius: 6px;
                }

                i {
                    align-self: center;
                    justify-self: center;

                    font-size: map-get($map: $typo, $key: menu-button-icon);
                }

                span {
                    align-self: center;
                }


            }
        }

        button#nav-expand {
            @include nav-button;

            grid-column: 3;
            grid-row: 1;

            grid-template-columns: auto;
            grid-template-rows: auto;

            margin: 10px;

            i {
                align-self: center;
                justify-self: center;

                font-size: map-get($map: $typo, $key: nav-button-icon);
            }
        }

        &[data-expanded="collapsed"] {
            button#nav-expand {
                i {
                    transition: all 150ms ease-in-out;
                    transform: rotate(0deg);
                }
            }

            nav#nav-menu {
                left: -100vw;
                visibility: hidden;
            }
        }

        &[data-expanded="expanded"] {
            button#nav-expand {
                i {
                    transition: all 150ms ease-in-out;
                    transform: rotate(180deg);
                }
            }

            nav#nav-menu {
                visibility: visible;
                left: 0;
            }
        }
    }

    div.content#index {
        section#search-bar {
            padding: 2vh 0;

            div.container {
                height: auto;
            }

            div.text-input {
                @include grid($columns: auto 15%, $rows: auto);

                border-radius: 6px;
                border-top-right-radius: 30px;
                border-bottom-right-radius: 30px;

                background-color: map-get($map: $colors, $key: background-color-3);

                // border: map-get($map: $colors, $key: button-pressed) 1px solid;

                input#search-query {
                    border: none;
                    outline: none;

                    padding: 1.3vh 2vh;

                    border-radius: 6px;
                }

                button#search {
                    @include nav-button;

                    background-color: map-get($map: $colors, $key: button-normal-2);

                    grid-template-columns: auto;
                    grid-template-rows: auto;

                    border-top-left-radius: 0%;
                    border-bottom-left-radius: 0%;

                    i {
                        align-self: center;
                        justify-self: center;
                    }
                }
            }
        }

        section#observations {
            padding: 0.4vh 0;

            div.container {
                @include grid($columns: 20% auto, $rows: auto);

                column-gap: 0;

                height: min-content;
            }

            img#icon {
                border-top-left-radius: 6px;
                border-bottom-left-radius: 6px;

                width: 100%;
                height: 10vh;
                object-fit: contain;

                background-color: map-get($map: $colors, $key: background-color-3);
            }

            div#observations-widget {
                @include grid($columns: 50% 25% 25%, $rows: auto);

                align-items: center;

                padding: 0.5vh 15px;

                border-top-right-radius: 6px;
                border-bottom-right-radius: 6px;

                background: linear-gradient(65deg, map-get($map: $colors, $key: background-color-2), map-get($map: $colors, $key: background-color-4));

                h2#temperature {
                    grid-column: 1;

                    margin: 0;
                }

                div#col-precip {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    grid-column: 2;

                    i {
                        width: fit-content;
                        margin-bottom: 10px;
                    }

                    h4 {
                        margin: 0;
                    }
                }

                div#col-wind {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    i {
                        width: fit-content;
                        margin-bottom: 10px;
                    }

                    h4 {
                        margin: 0;
                    }

                    grid-column: 3;
                }
            }
        }

        section#more-info {
            div.container {
                height: auto;
            }

            div#more-information {
                @include grid($columns: repeat(2, 50%), $rows: min-content);

                border-radius: 6px;
                align-items: center;
                column-gap: 0;
            }

            h5,
            h6,
            h4 {
                margin: 0;
                justify-self: flex-end;
            }

            i.fa-square-arrow-up-right {
                justify-self: center;
            }

            i.fa-warning {
                justify-self: center;
            }

            a#more-info-button,
            a#warnings-button {
                @include nav-button;
                @include grid($columns: auto 20%, $rows: auto);

                background-color: map-get($map: $colors, $key: button-normal-2);
                align-items: center;
                justify-self: center;
                width: 100%;
                border-radius: 0;
                column-gap: 10px;
                height: -webkit-fill-available;

                padding: 1.0vh 5px;

                span {
                    text-align: end;
                    width: 100%;
                }
            }

            a#more-info-button {
                border-top-right-radius: 6px;
                border-bottom-right-radius: 6px;


            }

            a#warnings-button {
                @include grid($columns: 20% auto, $rows: auto);

                border-top-left-radius: 6px;
                border-bottom-left-radius: 6px;
            }
        }

        section#smaller-radar {
            margin: 2vh 0;

            div.container{
                height: auto;
            }

            select {
                border: none;
                outline: none;

                background-color: map-get($map: $colors, $key: background-color-3);

                border-radius: 4px;

                padding: 5px 5px;

                text-align: center;
            }

            i.fa-solid{
                font-size: map-get($map: $typo, $key: fontawesome-small);
            }

            i.fa-clock,
            i.fa-forward-fast {
                justify-self: flex-end;

                margin-right: 10px;
            }

            input[type="range"]{
                width: auto;
                min-width: 40px;
            }

            img#radar-image{
                width: 100%;
                object-fit: contain;

                &[data-type="radarmap"]{
                    background: url('https://image-lite.buienradar.nl/3.0/background/MapWebmercatorNL?size=Full');
                    background-repeat: no-repeat;
                    background-size: contain;
                }

                &[data-type="weathermap"]{
                    background: none;
                    background-color: map-get($map: $colors, $key: background-color-6);
                }
            }

            div.col#radar-config {
                @include grid($columns: 65% 15% 20%, $rows: auto);

                column-gap: 0;
                align-items: center;
                padding: 5px;

                background-color: map-get($map: $colors, $key: background-color-6);

                border-top-left-radius: 6px;
                border-top-right-radius: 6px;

                select#radar-time {
                    grid-column: 3;
                }
            }

            div.col#radar-controls {
                @include grid($columns: 10% 20% auto 12% 20%, $rows: auto);

                column-gap: 0;
                align-items: center;
                padding: 5px;

                background-color: map-get($map: $colors, $key: background-color-6);
                border-bottom-left-radius: 6px;
                border-bottom-right-radius: 6px;

                button#radar-playpause {
                    @include nav-button;
                    @include grid($columns: auto, $rows: auto);

                    border-radius: 6px;

                    align-self: stretch;

                    align-items: center;
                    justify-items: center;
                }

                h5#radar-time {
                    justify-self: center;
                    margin: 0;
                }
            }
        }
    }
}
