@use "../variables" as *;
@use "../components/buttons" as *;

section.nav {
    background-color: map-get($map: $misc-color, $key: body);

    div.container {
        display: flex;
        justify-content: space-between;
    }

    img {
        object-fit: contain;
    }

    nav {
        display: flex;
    }

    a {
        @include button;

        font-weight: 500;
        font-size: map-get($map: $typo, $key: menu-item);

        height: 100%;

        background-color: map-get($map: $misc-color, $key: body);

        i {
            margin-right: 10px;
        }
    }

    div.small-obs {
        display: grid;

        grid-template-columns: auto auto auto auto;
        align-items: center;
        column-gap: 20px;
        grid-auto-flow: column;

        background-color: transparent;
        padding-left: 20px;

        height: 100%;

        .cur-ico {
            grid-column: 2;
            height: 64px;
            width: auto;

            object-fit: contain;
            padding: 5px;
        }

        .cur-temp {
            grid-column: 3;

            margin: 0;

            font-weight: 500;
            font-size: map-get($map: $typo, $key: current-temperature);
        }

        .cur-loc {
            grid-column: 1;

            font-size: map-get($map: $typo, $key: current-location);
            margin: 0;
        }

        a.config-button {
            @include button;

            display: flex;

            background-color: transparent;
            border-radius: 0;

            grid-column: 4;

            height: 100%;
        }

        a i {
            margin: 0;

            align-self: center;
        }
    }
}
