@use '../variables' as *;

@mixin menu-item {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    text-decoration: none;
    color: map-get($map: $colors, $key: text-color);
    transition: 200ms ease-in-out;

    i{
        margin-right: 10px;
        font-size: 15px;
    }

    &:hover {
        background-color: map-get($map: $colors, $key: button-hover);
        color: map-get($map: $colors, $key: text-color-hover);
    }

    &:active {
        background-color: map-get($map: $colors, $key: button-pressed);
    }
}
