@use '../variables' as *;

section#radars{
    div.radar-container{
        padding: 15px;
    }

    img{
        width: 100%;

        border-radius: 6px;
    }

    select#cm_radar{
        margin-bottom: 15px;

        background-color: map-get($map: $colors, $key: background-color-3);
        padding: 8px;
        border-radius: 6px;
    
        flex-wrap: nowrap;
        overflow: hidden;
    
        @include shadow-box;
    }

    #blitzortung{
        padding:10px;

        width: 100%;
        flex-grow: 1;

        border-radius: 6px;
    }

    .d-flex.container{
        flex-grow: 1;
    }
}
