@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@200;300;400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
body {
  display: flex;
}

section.nav {
  background-color: #D9D9D9;
  height: 100vh;
  width: 15vw;
}
section.nav nav {
  padding: 10px;
  display: flex;
  flex-direction: column;
}
section.nav .nav-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;
  margin: 10px 15px;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  color: black;
  border: #4A7CAA 1px solid;
  background-color: #E0F9FE;
  transition: all 250ms ease-in-out;
  border-radius: 4px;
}
section.nav .nav-item:hover {
  margin: 5px 5px;
  box-shadow: 0px 3px 0px 0 #4A7CAA;
}
section.nav .nav-item:active {
  box-shadow: inset 0px 20px 20px 0 rgba(0, 0, 0, 0.2);
  background-color: #4A7CAA;
}
section.nav .nav-item:after {
  content: "\f35d";
  font-family: "FontAwesome";
  align-content: flex-end;
}

section.observations {
  width: 28vw;
  height: 100vh;
  background-color: #ebebeb;
}
section.observations div.observations {
  background-color: #E0F9FE;
  border-radius: 4px;
  box-shadow: 0px 3px 0px 0 #4A7CAA;
  margin: 25px;
  padding: 15px 25px;
  height: 175px;
  display: grid;
  grid-template-columns: 70% 30%;
}
section.observations div.observations div.info {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);
}
section.observations div.observations div.actual-temperature-container {
  width: --webkit-fill-available;
  grid-column: 1;
  grid-row: 1;
  display: flex;
  align-items: center;
}
section.observations div.observations h1#actual-temperature {
  font-size: 50px;
}
section.observations div.observations div.feel-temperature-container {
  width: --webkit-fill-available;
  grid-column: 2;
  grid-row: 1;
  display: flex;
  align-items: center;
}
section.observations div.observations h5#feel-temperature {
  width: 60%;
  display: flex;
  align-items: center;
  font-size: 20px;
}
section.observations div.observations h5#feel-temperature::before {
  content: "\f256";
  font-family: "FontAwesome";
  margin-right: 20px;
}
section.observations div.observations div.wind-container {
  width: --webkit-fill-available;
  grid-column: 1;
  grid-row: 2;
  display: flex;
  align-items: center;
}
section.observations div.observations h5#wind-speed {
  width: 60%;
  display: flex;
  align-items: center;
  font-size: 20px;
}
section.observations div.observations h5#wind-speed::before {
  content: "\f063";
  font-family: "FontAwesome";
  margin-right: 20px;
}
section.observations div.observations div.humidity-container {
  width: --webkit-fill-available;
  grid-column: 2;
  grid-row: 2;
  display: flex;
  align-items: center;
}
section.observations div.observations h5#humidity {
  width: 60%;
  display: flex;
  align-items: center;
  font-size: 20px;
}
section.observations div.observations h5#humidity::before {
  content: "\f0e9";
  font-family: "FontAwesome";
  margin-right: 20px;
}
section.observations div.observations div.observation-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
section.observations div.announcements {
  background-color: #96DC24;
  height: 40px;
  display: grid;
  grid-template-columns: 10% 90%;
}
section.observations div.announcements div.info-icon {
  font-size: 20px;
  grid-column: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.observations div.announcements div.announcements-info {
  grid-column: 2;
  display: grid;
  grid-template-rows: repeat(50%);
}
section.observations div.announcements h4#announcement-title {
  grid-row: 1;
}
section.observations div.announcements span#announcement-description {
  grid-row: 2;
}
section.observations div#forecast {
  background-color: #E0F9FE;
  border-radius: 4px;
  box-shadow: 0px 3px 0px 0 #4A7CAA;
  margin: 25px;
  display: flex;
  justify-content: space-evenly;
}
section.observations div#forecast div.forecast-day {
  display: grid;
  grid-template-rows: repeat(3, auto);
  width: 125px;
  padding: 15px 0;
}
section.observations div#forecast div.forecast-day:first-child {
  border-right: rgba(58, 94, 135, 0.3098039216) 1px solid;
}
section.observations div#forecast div.forecast-day:last-child {
  border-left: rgba(58, 94, 135, 0.3098039216) 1px solid;
}
section.observations div#forecast div.forecast-icon-container {
  width: 100%;
  display: grid;
}
section.observations div#forecast img.forecast-icon {
  align-self: center;
  justify-self: center;
  width: 72px;
  padding: 5px;
  background-color: #fffef5;
  border-radius: 40px;
  box-shadow: 0px 3px 0px 0 #4A7CAA;
}
section.observations div#forecast h5.forecast-date {
  margin-top: 15px;
  text-align: center;
  font-weight: 500;
}
section.observations div#forecast div.forecast-shadow-container {
  border-radius: 40px;
  margin: 15px 0;
  padding: 0 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
section.observations div#forecast div.forecast-temp-container {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: repeat(2, 50%);
  padding: 10px;
}
section.observations div#forecast h6.forecast-temp-high {
  color: #FF0000;
  font-weight: 700;
}
section.observations div#forecast h6.forecast-temp-low {
  color: #0085FF;
  font-weight: 700;
}
section.observations div#forecast div.forecast-wind-container {
  display: grid;
  align-content: center;
  align-items: center;
  justify-items: center;
  grid-template-rows: repeat(2, 50%);
  padding: 10px;
}
section.observations div#forecast i.forecast-wind-icon {
  height: fit-content;
}
section.observations div.location-container {
  display: flex;
  align-items: center;
  height: 30px;
}
section.observations h5#station-name {
  padding: 0 25px;
}
section.observations h5#station-name::before {
  content: "\f3c5";
  font-family: "FontAwesome";
  margin-right: 20px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Arimo", sans-serif;
}

/*# sourceMappingURL=style.css.map */
