@use '../partials/mixins' as *;
@use '../variables' as *;

section#menu {
    grid-column: 1 / span 2;
    $width: 100%;
    height: auto !important;

    @include section($width);

    flex-wrap: nowrap;

    div.col-12 {
        margin: 10px 0;
    }

    nav a {
        @include menu-button(5px, 5px, 4px);
    }

    div#secondary-nav {
        &[data-collapsed="expanded"]{
            display: flex;
        }

        &[data-collapsed="collapsed"]{
            display: none;
        }

        nav#nav-items{
            display: grid;
        }
    }

    button#secondary-nav-expand{
        @include menu-button(10px 20px, 0, 6px);

        background-color: map-get($map: $colors, $key: background-color);

        border: none;
        outline: none;
        grid-template-columns: auto;

        justify-self: flex-end;
    }

    nav a.secondary-item img {
        width: 24px;
        justify-self: center;
    }
}