@use "../variables" as *;
@use "../partials/mixins" as *;

section#observations {
    $width: calc(100vw / 5);

    @include section($width);

    overflow: hidden;
    flex-wrap: nowrap;

    div#observations {
        @include widget;

        div.col.grid {
            @include grid(2,2,50%,1);
            margin: 10px 0;
        }

        h5,
        h2 {
            margin-bottom: 0;
        }

        img#observation-icon {
            background-color: white;
            border-radius: 50%;
            box-shadow: 0px 5px 20px 0 transparentize($color: #000000, $amount: .85);

        }
    }

    h5#station-name {
        font-weight: 300;
    }

    div#location-selector{
        select#stations{
            float:right;
            @include widget;

            border-radius: 4px;
            padding: 5px;
        }
    }



    div#forecast {
        @include widget;

        grid-template-columns: repeat(3, calc(100%/3));

        div.forecast-day {
            @include grid(0, 4, auto, 1);

            justify-items: center;
        }

        div.forecast-wind {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            i {
                margin-bottom: 5px;
            }
        }

        img.forecast-icon {
            background-color: map-get($map: $colors, $key: icon-background);

            border-bottom-left-radius: 30%;
            border-bottom-right-radius: 30%;

            margin-bottom: 15px;
            box-shadow: 0px 5px 20px 0 transparentize($color: #000000, $amount: .85);
        }

        h5.forecast-date {
            font-weight: 300;
            border-bottom: map-get($map: $colors, $key: menu-shadow) 2px solid;
        }

        div.forecast-temp {
            display: flex;
            align-items: center;
            flex-direction: column;

            h6 {
                font-weight: 600;
            }

            h6.high {
                color: map-get($map: $colors, $key: temperature-high);
            }

            h6.low {
                color: map-get($map: $colors, $key: temperature-low);
            }
        }
    }

    div#hourly-forecast {
        @include widget;

        flex-direction: column;
        overflow-y: auto;

        height: 100%;
        padding: 10px;

        div.forecast-hour {
            @include grid(5, 0, 15% 25% 20% 20% 20%, 0);

            align-items: center;
            justify-items: center;

            margin: 5px 0;        
        }

        img.forecast-icon {
            width: 46px;
            background-color: map-get($map: $colors, $key: icon-background);
            border-radius: 20%;
            padding: 2px;
            box-shadow: 0px 5px 20px 0 transparentize($color: #000000, $amount: .85);

        }

        h6,
        h4 {
            margin-bottom: 0;
        }

        h6.forecast-time{
            border-bottom: map-get($map: $colors, $key: menu-shadow) 2px solid;
            font-weight: 300;
        }

        div.forecast-wind,
        div.forecast-humidity{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        i{
            margin-bottom: 5px;
        }
    }
}