@use "../variables" as *;
@use "../partials/mixins" as *;

section#observations {
    grid-column: 3 / span 3;
    $width: 100%;

    @include section($width);

    overflow: hidden;
    flex-wrap: nowrap;

    background-color: map-get($map: $colors, $key: background-color-2);

    h5 {
        margin-top: 10px;
        margin-bottom: 0;
    }

    div#observations {
        @include widget;
        align-items: center;
        padding: 0;

        div.col.grid {
            display: grid;
            grid-template-columns: repeat(3, auto);
            grid-template-rows: repeat(2, 50%);

            margin: 10px 0;

            justify-items: center;

            div {
                display: flex;
                flex-direction: column;
                align-items: center;

                margin: 5px 0;
            }

            div h6 {

                margin: 0;

            }

            div i {
                margin-bottom: 5px;
            }
        }

        h5,
        h2 {
            margin-bottom: 0;
        }

        img#observation-icon {
            background-color: white;
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
            object-fit: none;
            height: 100%;
        }
    }

    h5#station-name {
        font-weight: 300;
    }

    div#location-selector {
        a#add-location {
            @include menu-button(4px 20px, 5px, 4px);

            border: none;
            outline: none;

            i {
                margin: 0;
            }
        }

        select#stations {
            background-color: map-get($map: $colors, $key: background-color-3);

            border-radius: 6px;
            border: none;
            padding: 5px;

            width: 98%;
        }
    }

    div#forecast {
        @include widget;

        grid-auto-flow: column;

        // max-height: 230px;
        overflow: auto;

        background: none;

        &[data-count="3"]{
            grid-template-columns: repeat(3, calc(95% / 3));
            overflow: hidden;
        }

        &[data-count="7"]{
            grid-template-columns: repeat(7, 150px);
        }

        &[data-count="14"]{
            grid-template-columns: repeat(13, 150px);
        }

        grid-template-rows: 1;

        padding: 0;
        padding-bottom: 5px;

        column-gap: 10px;

        div.forecast-day {
            @include grid(0, 4, auto, 1);

            background: linear-gradient(135deg, map-get($colors, background-widget), map-get($colors, background-color));
            border-radius: 4px;

            justify-items: center;
        }

        div.forecast-wind {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            i {
                margin-bottom: 5px;
            }

            h6.speed {
                margin: 0;
            }

            margin-bottom: 10px;
        }

        img.forecast-icon {
            height: 65px;
            width: 100%;

            background-color: map-get($map: $colors, $key: icon-background);
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            padding: 2px;
            margin-bottom: 10px;
            align-self: flex-start;
            object-fit: contain;
        }

        h5.forecast-date {
            font-weight: 300;
            border-bottom: map-get($map: $colors, $key: menu-shadow) 2px solid;
            margin: 0;
        }

        div.forecast-temp {
            display: flex;
            align-items: center;
            flex-direction: column;

            margin: 5px 0;

            h6 {
                font-weight: 500;
                margin: 2px 0;
            }

            h6.high {
                color: map-get($map: $colors, $key: temperature-high);

                &::before {
                    content: "\f185";
                    font-family: 'FontAwesome';
                    margin-right: 15px;
                }
            }

            h6.low {
                color: map-get($map: $colors, $key: temperature-low);

                &::before {
                    content: "\f186";
                    font-family: 'FontAwesome';
                    margin-right: 15px;
                }
            }
        }
    }

    div#hourly-forecast {
        @include widget;

        background: none;

        overflow-y: auto;

        margin-bottom: 20px;

        height: 100%;
        padding: 0;

        grid-row-gap: 8px;
        grid-auto-rows: max-content;

        div.forecast-hour {
            @include grid(5, 0, 15% 25% 20% 20% 20%, 0);

            background: linear-gradient(135deg, map-get($colors, background-widget), map-get($colors, background-color));
            border-radius: 4px;

            align-items: center;
            justify-items: stretch;

            min-height: 65px;
        }

        img.forecast-icon {
            height: 65px;
            background-color: map-get($map: $colors, $key: icon-background);
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            padding: 2px;
            align-self: flex-start;
            object-fit: contain;
        }

        h6,
        h4 {
            margin-bottom: 0;
        }

        h6.forecast-time {
            border-bottom: map-get($map: $colors, $key: menu-shadow) 2px solid;
            font-weight: 300;
            justify-self: center;
        }

        div.forecast-wind,
        div.forecast-humidity {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        i {
            margin-bottom: 5px;
        }
    }

    @media(max-width:2250px) {


        br {
            max-height: 10px;
        }

        div#observations {
            img#observation-icon {
                width: 72px;
                object-fit: contain;
            }
        }

        div#forecast {
            max-height: 300px;
            padding: 0;

            grid-auto-flow: row;
            overflow-y: scroll;
            flex-wrap: wrap;

            &[data-count="3"]{
                grid-template-rows: repeat(3, 50px);
            }

            &[data-count="7"]{
                grid-template-rows: repeat(7, 50px);
            }

            &[data-count="14"]{
                grid-template-rows: repeat(13, 50px);
            }

            grid-template-columns: auto !important;

            grid-row-gap: 12px;

            div.forecast-day {
                @include grid(4, 0, 15% 35% 30% 20%, 0);

                align-items: center;
                justify-content: space-between;
                margin: 0;
                padding-right: 10px;
            }

            img.forecast-icon {
                border-radius: 0;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;

                align-self: flex-end;
                object-fit: contain;

                height: auto;
                padding: 2px;
                margin: 0;
            }

            div.forecast-temp {
                justify-content: center;
                margin: 0;
            }

            div.forecast-wind{
                margin: 0;
            }
        }

        div#hourly-forecast{
            div.forecast-hour{
                min-height: auto;
            }

            img.forecast-icon{
                height: auto !important;
            }
        }
    }

    @media(max-width:1800px) {
        height: 140vh !important;

        grid-column: 3 / span 4;

        div#forecast {
            div#forecast-temp {
                h6.high {
                    margin-bottom: 5px;
                }


                h6.low::before {
                    margin-left: 5px;
                }
            }

            h5.forecast-date {
                margin-bottom: 0;
            }
        }
    }

    @media(max-width: 1420px) {
        grid-column: 3 / span 5;
    }
}
