@use '../variables' as *;
@use '../partials/mixins' as *;

section#report{
    $width: 100%;
    @include section($width);

    flex-grow: 1;
    overflow-y: auto;
    grid-column: 6 / span 6;

    background-color: map-get($map: $colors, $key: background-color-2);

    h3{
        margin-bottom: 15px;
    }

    span#guidance-text p{
        margin: 20px 0 0 0;
        font-weight: 400;

        strong{
            font-weight: 500;
        }
    }

    div#announcements{
        margin: 0 0 10px 0;

        height: auto;

        grid-template-columns: 60px auto 120px;
        justify-items: self-start;

        a{
            @include menu-button(8px, 0 5px 0 2px , 6px);

            justify-self: stretch;
            justify-content: center;

            grid-template-columns: auto;
        }
    
        i.fa-solid{
            &.fa-warning{
                font-size: map-get($map: $typo, $key: warning-icon);
                text-align: center;
                padding: 2vh 10px;
                height: 100%;
                width: 100%;
                background-color: map-get($map: $colors, $key: icon-background);
                border-top-left-radius: 6px;
                border-bottom-left-radius: 6px;
            }
        }

        background-color: map-get($map: $colors, $key: background-color);

        &[data-color="YELLOW"]{
            i{
                color: map-get($map: $colors, $key: warning-yellow);;
            }
        }

        &[data-color="ORANGE"]{
            i{
                color: map-get($map: $colors, $key: warning-orange);
            }
        }

        &[data-color="RED"]{
            i{
                color: map-get($map: $colors, $key: warning-red);
            }
        }

        h6#warning-locations{
            margin: 0 10px;
        }

        span#warning-title{
            font-weight: 300;
            font-size: map-get($map: $typo, $key: h4);
            margin:  0 10px ;
        }

        border-radius: 6px;
    }


    @media(max-width:1170px){
        height: auto !important;
    }

    @media (max-width:1800px){
        grid-column: 7 / span 5;
    }

    @media(max-width: 1420px){
        grid-column: 8 / span 4;
        flex-wrap: nowrap;
    }
}
