@use '../variables' as *;
@use '../partials/mixins' as *;

section#settings {
    @include section(calc(100vw/5));
    row-gap: 5px;

    button {
        @include menu-button(6px, 2px, 4px);

        border: map-get($map: $colors, $key: menu-shadow) 1px solid;
        outline: none;

        background-color: map-get($map: $colors, $key: background-color);

        &:hover {
            border: transparent 1px solid;
        }
    }

    div#top-bar {
        @include grid(2, 0, 80% 20%, 0);
    }

    div#results {
        @include grid(0, 10, auto, 1);
    }

    div.search-result {
        @include grid(2, 0, 90% 10%, 0);

        padding: 2px;

        align-items: center;

        border-bottom: map-get($map: $colors, $key: menu-shadow) 1px solid;

        h6.location-name {
            grid-column: 1;
            grid-row: 1;

            margin-bottom: 0;
        }

        h7.location-foad {
            grid-column: 1;
            grid-row: 2;
        }

        button.add-location {
            grid-column: 2;
            grid-row: 1;

            justify-content: center;

            i {
                margin: 0;
            }
        }
    }
}