@use '../variables' as *;
@use '../partials/mixins' as *;

section#settings {
    grid-column: 3 / span 4;

    @include section(100%);

    row-gap: 5px;
    flex-wrap: nowrap;

    background-color: map-get($map: $colors, $key: background-color-2);

    div.container {
        padding: 20px;
    }

    button {
        @include menu-button(6px, 2px, 4px);

        flex-wrap: nowrap;

        border: map-get($map: $colors, $key: menu-shadow) 1px solid;
        outline: none;

        background-color: map-get($map: $colors, $key: background-color);
        justify-content: center;

        &:hover {
            border: transparent 1px solid;
        }
    }

    h5.title {
        border-bottom: map-get($map: $colors, $key: menu-shadow) 1px solid;
    }

    div#locations {
        row-gap: 10px;
        margin-bottom: 20px;
    }

    div.saved-location{
        padding: 10px;
        background-color: map-get($map: $colors, $key: background-result);
        border-radius: 6px;

        p.location-foad{
            border-bottom: map-get($map: $colors, $key: menu-shadow) 1px solid;
            width: fit-content;
            margin: 0;
        }
    }

    div#top-bar {
        @include grid(2, 0, 80% 20%, 0);

        align-items: center;

        input {
            margin-right: 15px;
            padding: 7px;
            border-radius: 6px;
            outline: none;
            border: none;
        }

        margin-bottom: 10px;

        max-height: 50px;
    }

    div#results {
        display: grid;
        grid-auto-rows: max-content;
        overflow-y: auto;

        align-items: start;

        row-gap: 10px;
    }

    div.search-result {
        @include grid(2, 0, 90% 10%, 0);

        padding: 10px;

        align-items: center;

        background-color: map-get($map: $colors, $key: background-result);
        border-radius: 6px;

        h6.location-name {
            grid-column: 1;
            grid-row: 1;

            margin-bottom: 8px;
        }

        p.location-foad {
            grid-column: 1;
            grid-row: 2;

            border-bottom: map-get($map: $colors, $key: menu-shadow) 1px solid;
            width: fit-content;
            margin: 0;
        }

        button.add-location {
            grid-column: 2;
            grid-row: span 2;

            i {
                margin: 0;
            }
        }
    }
}