@mixin menu-button ($padding, $margin, $border-radius) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    background-color: #2481df;
    color: white;

    text-decoration: none;
    padding: $padding;
    margin: $margin;
    border-radius: $border-radius;

    font-weight: 400;

    transition: all 180ms ease-in-out;

    i{
        align-self: center;

        margin-right: 10px;
    }

    &:hover{
        color: white;
        box-shadow: 0px 4px 0px 0px #01264d;
        font-size: 20px;
    }

    &:active{
        color: white;
        background-color: #01264d;
        box-shadow: 0px 4px 0px 0px #2481df;

        margin-right: 5px;
    }
}

nav a
{
    @include menu-button(5px 10px, 5px, 4px);
}

