$colors: (
    background-color: #e8f5ff,
    background-color-2: #e8f5ff,
    background-color-3: #fcfeff,
    background-color-4: #5792ff,
    background-color-5: #c9d8e7,
    background-color-6: #d0dfeb,
    button-hover: #5792ff,
    button-normal: #e8f5ff,
    button-normal-2: #d0dfeb,
    button-pressed: #01264d,
    text-normal: #000000,
    text-hover: #ffffff,
    text-grayed: #a0a0a0,
    menu-shadow: #979797,
);

$typo: (
    nav-button-icon: calc(100vh * 0.030),
    menu-button-icon: calc(100vh * 0.024),
    fontawesome-icon: calc(100vh * 0.024),
    fontawesome-small: calc(100vh * 0.020),
    h1: calc(100vh * 0.0108),
    h2: calc(100vh * 0.050),
    h3: calc(100vh * 0.032),
    h4: calc(100vh * 0.018),
    h5: calc(100vh * 0.014),
    h6: calc(100vh * 0.014),
    a: calc(100vh * 0.024),
);
