$colors: (
    background-color: #cfdbe9,
    background-color-2: #e8f5ff,
    background-color-3: #fcfeff,
    background-color-4: #92b7fc,
    background-color-5:#c9d8e7,
    button-hover: #92b7fc,
    button-normal: #e8f5ff,
    button-pressed: #01264d,
    text-normal: #000000,
    text-hover: #ffffff,
);

$typo: (
    nav-button-icon: calc(100vh * 0.038),
    menu-button-icon: calc(100vh * 0.024),
);
