@use "../variables" as *;
@use "../helpers" as *;

.content.simulcast {
    background-color: transparent;
    background: none;

    display: grid;

    grid-template-columns: repeat(32, calc(100vw / 32));
    grid-template-rows: repeat(32, calc(100vh / 32));

    div.sidebar{
        grid-column: 28 / span 5;
        grid-row: 1 / span 20;

        div.radar-item{
            &:last-child,
            &:last-child .radar-images,
            &:last-child img.background-image,
            &:last-child .radar-image img,
            &:last-child .time-info-container{
                border-top-right-radius: 0;
                border-top-left-radius: 0;
            }

            &:first-child,
            &:first-child .radar-images,
            &:first-child img.background-image,
            &:first-child .radar-image img
            {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
        }

        iframe{
            height: 25vh;
            width: -webkit-fill-available;

            border: none;
            outline: none;

            margin-bottom: -15px;
        }
    }

    div.slideshow{
        grid-column: 1 / span 5;
        grid-row: 21 / span 12;

        justify-self: flex-start;

        div.radar-item{
            height: -webkit-fill-available;
        }

        div.radar-item .time-info-container{
            background-color: transparent;
        }
    }

    div.warning-overview{
        grid-column: 6 / span 5;
        grid-row: 21 / span 12;
    }
}
