@use '../variables' as *;
@use '../helpers' as *;

.content .main-menu {
    width: calc(100vw - 25px);
    min-height: 50px;
    max-height: 70px;

    margin: 5px auto;
    z-index: 1;

    display: flex;
    align-items: center;

    border-radius: 8px;

    a{
        border-radius: 0;

        background-color: transparentize($color: map-get($colors, primary-color), $amount: 0.65);
    }

    &:hover a{
        background-color: map-get($map: $colors, $key: primary-color);
    }

    a:hover{
        background-color: map-get($map: $colors, $key: hover-color);
    }

    a:active{
        background-color: map-get($map: $colors, $key: active-color);
    }

    a:first-child{
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }

    a:last-child{
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }
}