@use '../variables' as *;

.content.index{
    position: relative;

    display: grid;

    img#current-radar{
        position: absolute;

        height: 100vh;
        object-fit: cover;

        justify-self: center;
    }

    div.map-grid{
        position: absolute;
        display: grid;

        grid-template-columns: repeat(2, 50vw);
        grid-template-rows: repeat(2, 50vh);

        img.map-tile{
            width: 100%;
            height: 100%;

            object-fit: cover;
            image-rendering:optimizeQuality;

            &.zw, &.zo{
                object-position: 0 0%;
            }

            &.zw{
                grid-column: 1;
                grid-row: 2;
            }

            &.zo{
                grid-column: 2;
                grid-row: 2;
            }

            &.no, &.nw{
                object-position: 0% 100%;
            }

            &.no{
                grid-column: 2;
                grid-row: 1;
            }

            &.nw{
                grid-column: 1;
                grid-row: 1;
            }
        }
    }

    div.chart-slider{
        position: absolute;

        justify-self: center;
        align-self: flex-end;

        display: grid;
        grid-template-columns: 50px auto 35px;
        column-gap: 5px;
        align-items: center;
        justify-items: center;

        background-color: transparentize(map-get($colors,primary-color),0.2);

        padding: 10px;
        bottom: 25px;
        min-width: 300px;
        border-radius: 8px;

        input[type="range"]{
            width: -webkit-fill-available;
        }
    }
}
