@use '../variables' as *;

.content.index{
    section#hero {
        position: relative;

        min-height: 500px;

        div.container, img.banner{
            position: absolute;

            width: -webkit-fill-available;
            height: -webkit-fill-available;
        }

        img.banner{
            object-fit: cover;
        }

        div.container{
            display: grid;
        }
    }

    pre{
        color: white;
    }
}
