$colors: (
    'background-color': #c8c9ff,
    'exclamation-background': #f2fdff,
    'link-color': #5a4cdd,
    'link-hover': #282071,
);

$border-radius: (
    '100': 2px,
    '200': 4px,
    '300': 8px,
    '400': 16px,
    '500': 32px,
    '600': 64px,
    '700': 128px,
);

$typo: (
    'exclamation': 2.6vh,
    'h1': 3vh,
    'h2': 1.8vh,
);
