body {
  font-family: "Jost", sans-serif !important;
  padding: 0;
  margin: 0;
}

@media (min-width: 1600px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1560px !important;
  }
}
a {
  background-color: #3072b0;
  color: #f2fdff !important;
  border-radius: 4px;
  padding: 10px;
  transition: 180ms all;
  text-decoration: none !important;
  font-size: 1.4vh;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
}
a:hover {
  background-color: #06285c;
}

div.content {
  height: 100vh;
  width: 100vw;
}

h1 {
  font-size: 2.6vh !important;
}

h2 {
  font-size: 1.8vh !important;
}

section.nav-section .container {
  padding: unset;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px auto;
}
section.nav-section .container .site-logo-link {
  background-color: unset;
  padding: unset;
  box-shadow: unset;
  border-radius: unset;
  border-bottom: #ffffff 3px solid;
}
section.nav-section .container .site-logo-link:hover {
  background-color: unset;
  border-bottom: #3072b0 3px solid;
}
section.nav-section .container #site-logo {
  max-height: 4vh;
}
section.nav-section .container nav {
  display: flex;
  margin-left: 20px;
  height: -webkit-fill-available;
}
section.nav-section .container nav .nav-button {
  color: #000000 !important;
  background-color: #ffffff;
  border-radius: 0;
  box-shadow: unset;
  font-size: 1.4vh;
}
section.nav-section .container nav .nav-button:hover {
  color: #ffffff !important;
  background-color: #3072b0;
}
section.nav-section .container .observations.small {
  border-radius: 16px;
  background-color: #e8e9fd;
  padding: 5px 10px;
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 15px;
  align-items: center;
}
section.nav-section .container .observations.small p {
  margin: 0;
  font-size: 1.4vh;
}
section.nav-section .container .observations.small .icon {
  grid-column: 1;
  height: auto;
  width: 48px;
}
section.nav-section .container .observations.small .temperature {
  font-weight: 600;
}

.content.not-found section.info-section .container .col-md-6 {
  display: grid;
  grid-template-columns: auto 56px;
  grid-template-rows: repeat(2, 50%);
  margin: auto;
  padding: 10px;
  background-color: #e8e9fd;
  border-radius: 4px;
}
.content.not-found section.info-section .container .col-md-6 h1, .content.not-found section.info-section .container .col-md-6 h2, .content.not-found section.info-section .container .col-md-6 i {
  width: fit-content;
  align-self: center;
  margin: 5px;
}
.content.not-found section.info-section .container .col-md-6 i {
  grid-column: 2;
  grid-row: 1;
  justify-self: flex-end;
  text-align: center;
  font-size: 2.6vh;
  font-weight: 800;
  height: 100%;
  width: 100%;
  margin: 0;
  border-radius: 4px;
  background-color: #06285c;
  color: #f2fdff;
}
.content.not-found section.info-section .container .col-md-6 h1 {
  grid-column: 1;
  grid-row: 1;
  font-weight: 200;
}
.content.not-found section.info-section .container .col-md-6 h2 {
  grid-column: 1;
  grid-row: 2;
  font-weight: 600;
}

section.hero-section {
  position: relative;
  height: 40vh;
}
section.hero-section img#hero-bg {
  position: absolute;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  object-fit: cover;
}
section.hero-section .mask-layer {
  position: absolute;
  display: flex;
  height: -webkit-fill-available;
  width: 90vw;
  border-bottom-right-radius: 95%;
  background-color: rgba(6, 40, 92, 0.9);
  border-right: rgba(48, 114, 176, 0.3) 10vw solid;
}
section.hero-section .container {
  position: relative;
  display: grid;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}
section.hero-section .container .col-md-6 {
  position: absolute;
  align-self: center;
  justify-self: flex-start;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: repeat(4, auto);
  align-items: center;
  justify-items: flex-start;
  column-gap: 20px;
}
section.hero-section .container .col-md-6 .title,
section.hero-section .container .col-md-6 .description {
  font-weight: 400;
  color: #ffffff;
  text-shadow: 2px 2px #3072b0, 4px 4px #06285c;
}
section.hero-section .container .col-md-6 .spotlight-label {
  font-size: 1.8vh;
  color: #ffffff;
  grid-row: 1;
  grid-column: 1/span 2;
}
section.hero-section .container .col-md-6 .image {
  grid-column: 1;
  grid-row: 2/span 2;
  height: auto;
  width: 100%;
  border-radius: 4px;
}
section.hero-section .container .col-md-6 .title {
  font-size: 3.2vh;
  grid-row: 2;
  grid-column: 2;
}
section.hero-section .container .col-md-6 .description {
  grid-row: 3;
  grid-column: 2;
}
section.hero-section .container .col-md-6 a {
  grid-row: 4;
  grid-column: 1;
}

/*# sourceMappingURL=main.css.map */
