body {
  font-family: "Jost", sans-serif !important;
}

a {
  background-color: #3072b0;
  color: #f2fdff !important;
  border-radius: 4px;
  padding: 10px;
  transition: 180ms all;
  text-decoration: none !important;
  font-size: 1.2vh;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
}
a:hover {
  background-color: #06285c;
}
a.nav-button {
  color: #000000 !important;
  background-color: #ffffff;
  border-bottom: 3px solid transparent;
  border-radius: 0;
  box-shadow: unset;
  font-size: 1.4vh;
}
a.nav-button:hover {
  border-bottom: 3px solid #06285c;
}

div.content {
  height: 100vh;
  width: 100vw;
}

h1 {
  font-size: 3vh !important;
}

h2 {
  font-size: 1.8vh !important;
}

section.nav-section .container {
  padding: unset;
  display: flex;
  align-items: center;
  margin: 5px auto;
}
section.nav-section .container .site-logo-link {
  background-color: unset;
  padding: unset;
  box-shadow: unset;
  border-radius: unset;
  border-bottom: #ffffff 3px solid;
}
section.nav-section .container .site-logo-link:hover {
  background-color: unset;
  border-bottom: #06285c 3px solid;
}
section.nav-section .container #site-logo {
  max-height: 4vh;
}
section.nav-section .container nav {
  display: flex;
  margin-left: 20px;
  height: -webkit-fill-available;
}
section.nav-section .container nav a {
  border-radius: unset;
}

.content.not-found section.info-section .container .col-md-6 {
  display: grid;
  grid-template-columns: auto 56px;
  grid-template-rows: repeat(2, 50%);
  margin: auto;
  padding: 10px;
  background-color: #c8c9ff;
  border-radius: 4px;
}
.content.not-found section.info-section .container .col-md-6 h1, .content.not-found section.info-section .container .col-md-6 h2, .content.not-found section.info-section .container .col-md-6 i {
  width: fit-content;
  align-self: center;
  margin: 5px;
}
.content.not-found section.info-section .container .col-md-6 i {
  grid-column: 2;
  grid-row: 1;
  justify-self: flex-end;
  text-align: center;
  font-size: 2.6vh;
  font-weight: 800;
  height: 100%;
  width: 100%;
  margin: 0;
  border-radius: 4px;
  background-color: #06285c;
  color: #f2fdff;
}
.content.not-found section.info-section .container .col-md-6 h1 {
  grid-column: 1;
  grid-row: 1;
  font-weight: 200;
}
.content.not-found section.info-section .container .col-md-6 h2 {
  grid-column: 1;
  grid-row: 2;
  font-weight: 600;
}

section.hero-section {
  position: relative;
  height: 40vh;
}
section.hero-section img#hero-bg {
  position: absolute;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  object-fit: cover;
}
section.hero-section .mask-layer {
  position: absolute;
  height: -webkit-fill-available;
  width: 60vw;
  border-bottom-right-radius: 155%;
  background-color: rgba(6, 40, 92, 0.7);
  border-right: rgba(48, 114, 176, 0.5) 2px solid;
}
section.hero-section .container {
  position: relative;
  display: grid;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}
section.hero-section .container .col-md-6 {
  position: absolute;
  align-self: center;
  justify-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
section.hero-section .container .col-md-6 .title {
  font-size: 3.4vh;
}
section.hero-section .container .col-md-6 .title, section.hero-section .container .description {
  font-weight: 400;
  color: #ffffff;
  text-shadow: 2px 2px #3072b0, 4px 4px #06285c;
}

/*# sourceMappingURL=main.css.map */
